.content {
    margin-top: 10px;
    justify-content: center;
    max-width: 1440px;
    width: auto;

    .loginOptionsContainer,
    .contentForm {
        padding: 24px 60px;
    }

    .loginOptionsContainer {
        border-right: 1px solid #ddd;
        min-height: 274px;
        
        .optionsSticky {
            .formTitle {
                text-align: left;
                padding: 0;
                margin: 0 0 32px;
                font-style: normal;
                font-weight: 300;
                font-size: 0;
                line-height: 100%;
                align-items: center;
                color: #111;

                &::after {
                    content: "Escolha uma opção de login";
                    font-size: 18px !important;
                }
            }

            .optionsList {
                margin: 0;

                .optionsListItem {
                    :global(.vtex-button) {
                        border-radius: 8px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        width: 280px;
                        height: 48px;
                        text-transform: initial;
                        transition: .2s ease-in-out;

                        :global(.vtex-button__label) {
                            width: 280px;
                        }
                    }

                    .emailPasswordOptionBtn,
                    .accessCodeOptionBtn {
                        :global(.vtex-button) {
                            background: #E30613;
                            color: #fff;
                            border: 2px solid #e30613;

                            &:hover {
                                background: #b9141f;
                                border: 2px solid #b9141f;
                            }
                        }
                    }
                }
            }
        }
    }

    .contentForm {

        .emailVerification {
            .formTitle {
                display: flex;
                flex-direction: column;
                font-size: 0;
                text-align: left;
                font-style: normal;
                font-weight: 300;
                color: #111;
                padding: 0;
                margin-bottom: 32px;

                &::before {
                    content: "Acessar Conta";
                    font-size: 18px !important;
                }

                &::after {
                    content: "Por favor, informe seu e-mail:";
                    font-size: 18px !important;
                }
            }
            .inputContainerPassword {
                :global(.vtex-styleguide-9-x-input) {
                    padding-right: 50px;
                }

                :global(.vtex-input__suffix) {
                    padding: 0;

                    .eyeIcon--invisible,
                    .eyeIcon--visible {
                        position: absolute;
                        right: 20px;
                    }
                }
            }

            .formFooter {
                :global(.t-small) {
                    font-size: 0;

                    &::after {
                        content: "Confirmar";
                        font-size: 16px !important;
                    }
                }
            }
        }

        .inputContainer {
            :global(.vtex-input-prefix__group) {
                border: none;
                width: 280px !important;
                height: 48px !important;

                :global(.vtex-styleguide-9-x-input) {
                    background: #FFF;
                    border: 2px solid #CCC;
                    box-sizing: border-box;
                    border-radius: 8px;
                    width: 280px;
                    height: 48px;
                }
            }
        }

        .codeConfirmation {
            .formFooter {
                .sendButton {
                    :global(.t-small) {
                        font-size: 0;
    
                        &::after {
                            content: "Entrar";
                            font-size: 16px !important;
                        }
                    }
                }
            }
        }

        .formFooter {
            text-align: center;
            margin-top: 16px;
            padding: 0;
            border: none;
            width: 280px;

            .sendButton {
                min-width: 131px;

                :global(.vtex-button) {
                    background: #E30613;
                    border: none;
                    width: 100%;
                    height: 48px;
                    border-radius: 8px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    text-transform: initial;
                    transition: .2s ease-in-out;
    
                    &:hover {
                        background: #b9141f;
                    }
                }
            }

            .backButton {
                :global(.vtex-button) {
                    color: #E30613;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
    
                    &:hover {
                        color: #b9141f;
                        background: #fff;
                    }

                    :global(.vtex-button__label) {
                        padding: 0 !important;
                    }
                }
            }
        }
    }


}

.content--beginCreatePass {
    .emailPasswordOptionBtn {
        display: none;
    }

    .backButton {
        :global(.t-small) {
            font-size: 16px !important;

            &::after {
                content: none !important;
            }
        }
    }
}

.content--codeConfirmation {
    .formTitle {
        display: flex;
        flex-direction: column;
        font-size: 0;
        text-align: left;
        font-style: normal;
        font-weight: 300;
        color: #111;
        padding: 0;
        margin-bottom: 59px;
        width: 222px;
        height: 6px;

        &::after {
            content: "Digite o código de acesso enviado para o seu e-mail:";
            font-size: 18px !important;
        }
    }

    .accessCodeOptionBtn {
        display: none;
    }
}

.facebookOptionBtn {
    :global(.vtex-button) {
        background: #3578EA;
        border: 2px solid #3578EA;

        &:hover {
            background: #fff;

            :global(.vtex-button__label) {

                svg {
                    width: 20px !important;
                }

                &::before {
                    content: none !important;
                }

                .oauthLabel::before {
                    color: #3578EA !important;
                }
            }
        }

        :global(.vtex-button__label) {
            svg {
                width: 0;
            }

            &::before {
                content: url(/arquivos/facebook-icon.png);
                width: 20px;
                height: 20px;
            }

            .oauthLabel {
                font-size: 0;

                &::before {
                    content: "Faça login com Facebook";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px !important;
                    line-height: 100%;
                    text-align: center;
                    color: #FFF;
                    text-transform: initial;

                }
            }
        }
    }
}

.googleOptionBtn {
    :global(.vtex-button) {
        border: 2px solid #E30613;

        &:hover {
            background: #E30613;
            
            :global(.vtex-button__label) {
                .oauthLabel::before {
                    color: #fff !important;
                }
            }
        }

        :global(.vtex-button__label) {
            .oauthLabel {
                font-size: 0;

                &::before {
                    content: "Faça login com Google";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px !important;
                    line-height: 100%;
                    text-align: center;
                    color: #111;
                    text-transform: initial;

                }
            }
        }
    }
}

@media screen and (max-width: 48rem) {
    .loginOptionsContainer {
        padding: 24px 0;
        text-align: center;
        border: none;

        .formTitle {
            text-align: center !important;
        }
    }
}

.arrowUp {
    margin-right: 1.5rem;
}