@media screen and (min-width: 64rem) {
    :global(.vtex-account) {
        width: 1313px;
        margin: 0 auto;
    }
}

:global(.vtex-account) {
    .menu {
        padding-left: 0;
        .menuLinks {
            :global(.vtex-account_menu-link.b--action-primary) {
                color: #402493;
                border-left: 4px solid #402493;
            }

            :global(.vtex-account_menu-link.b--transparent) {
                color: #402493;
            }
        }
    }

    .profileEdit {
        padding: 0;
        .boxContainer {
            border: none;
            max-width: 394px;
            .boxContainerBody {
                padding: 0 0 0 32px;

                :global(.vtex-profile-form-3-x-styleguideInput) {
                    padding-bottom: 0;
                }
                :global(.vtex-input__label) {
                    opacity: 1;
                }

                :global(.vtex-profile-form-3-x-genderInput),
                :global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) {
                    display: none;
                }
                :global(.vtex-button.bg-action-primary) {
                    background-color: #8E8E8E;
                    border-color: #8E8E8E;
                    margin-top: 25px;
                    height: 40px;
                }
            }
        }
    }

    .boxContainer {
        border-radius: 8px;
    }

    :global(.vtex-account__page) {
        :global(.vtex-pageHeader__title) {
            color: #332C32;
            font-family: Roboto;
            font-size: 28px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 33px;
        }

        .addressEdit {

            .boxContainerBody {
                :global(.vtex-input-prefix__group),
                :global(.vtex-address-form-4-x-container) {
                    border-radius: 8px;
                }
                
                :global(.vtex-button.bg-action-primary) {
                    background: #402493 !important;
                    border: 2px solid #402493;
                    color: #FFF;

                    &:hover {
                        background: #b9141f !important;
                        border: 2px solid #b9141f;
                    }
                }
            }
        }

        :global(.vtex-account__page-body) {
            position: relative;
            .profileBoxContainer {
                .boxContainerBody {
                    padding-bottom: 0;

                    .genderContainer, 
                    .dateOfBirthSubContainer {
                        display: none;
                    }

                    :global(.c-on-disabled) {
                        color: #111111;
                        font-family: Roboto;
                        font-size: 16px;
                        line-height: 23px;
                    }
                }
            }

            :global(.flex-row-ns) {
                flex-direction: column;
            }

            .boxContainerFooter {
                justify-content: center;
                padding-bottom: 24px;
        
                :global(.vtex-button) {
                    padding: 0;
                    border: none;
                    background: transparent;
                    color: #291660;
                    position: absolute;
                    top: -60px;
                    left: 170px;
                    font-family: Roboto;
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 500;
                    text-transform: capitalize;
                }
            }
            
            .newsletterBoxContainer {
                :global(.vtex-checkbox__inner-container.b--muted-4),
                :global(.vtex-checkbox__input),
                :global(.vtex-checkbox__box-wrapper) {
                    width: 20px;
                    height: 20px;
                }   

                :global(.vtex-checkbox__inner-container.b--action-primary) {
                    background: #291660;
                    border: 2px solid #291660;
                    width: 20px;
                    height: 20px;
                }
                :global(.vtex-my-account-1-x-boxContainer) {
                    border: none;

                    :global(.vtex-my-account-1-x-boxContainerBody) {
                        padding-left: 0;
                        padding-top: 0;
                    }
                }
            }

            .newsletterContainerTitle, 
            .newsletterContainerMessage {
                display: none;
            }

            :global(.vtex_my-authentication_box_container) {
                border-radius: 8px;
            }
        }

        :global(.vtex-account__create-card) { 
            :global(.vtex-input-prefix__group) {
                border-radius: 8px;
            }
        }

        :global(.vtex-pageHeader-link__container) {
            :global(.vtex-button) {
                transition: .1s ease-in-out;

                &:hover {
                    background: transparent;
                    color: #b9141f;
                }
            }
        }

        :global(.vtex-pageHeader__children) {
            :global(.vtex-button) {
                width: 280px;
                height: 40px;
                border-radius: 8px;
                color: #111;
                background: transparent;
                border: 2px solid #fff;
                transition: .1s ease-in-out; 

                &:hover {
                    border: 2px solid #111;
                }
            }
        }

        :global(.vtex-account__orders-list) {
            :global(.vtex-my-orders-app-3-x-orderCard),
            :global(.vtex-my-orders-app-3-x-collapsedOrder) {
                border-radius: 8px;
                
                :global(.vtex-my-orders-app-3-x-detailsBtn) {
                    background: transparent;
                    border: 2px solid #fff;
                    transition: .1s ease-in-out;
                    width: 180px;

                    &:hover {
                        border: 2px solid #111;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 48rem) {
    .addressCreate {
        .boxContainerBody {
            :global(.vtex-button) {
                width: 100% !important;
            }
        }
    }

    .addressBox {           
        :global(.flex-none) {
            width: 100%;
        }
    }

    .addressEdit {
        .boxContainerBody {
            :global(.vtex-button) {
                width: 100% !important;
            }
        }
    }

    :global(.vtex-account__page) {
        :global(.vtex-account__page-body) {
            :global(.vtex-my-authentication-1-x-loginSessions_box) {
                width: 100%;

                :global(.vtex_my-authentication_box_container) {
                    width: 100%;
                }    
            }
        }
        :global(.vtex-pageHeader__container) {
            :global(.c-on-base) {
                justify-content: center;
        
                :global(.vtex-pageHeader__title) {
                    font-size: 30px;
                }
                :global(.vtex-pageHeader__children) {
                    margin-top: 28px;

                    :global(.vtex-button) {
                        border: 2px solid #CCC;
                    }
                }
            }

            :global(.vtex-pageHeader-link__container) {
                :global(.vtex__icon-arrow-back) {
                    width: 14px;
                }
    
                :global(.t-action--small) {
                    font-size: 14px;
                }
            }
        }
        
        :global(.vtex_my-authentication_box_container) {
            :global(.vtex-my-authentication-1-x-box_footer) {
                text-align: center;
            }
        }
    }
}