.container {
  :global(.vtex-button) {
    padding: 0;

    align-items: flex-end;
    display: flex;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    position: relative;
    width: 300px;

    &::before {
      content: 'Faça seu login';
      color: #111111;
      display: flex;
      flex-direction: row;
      left: -1%;
      position: absolute;
      top: 48%;
      text-transform: initial;
      width: 300px;
    }

    &:hover {
      background: none;
    }
  }

  :global(.vtex-button__label) {
    padding: 0;
    margin-bottom: 2rem;
  }

  .label {
    padding: 0;
    font-size: 24px;
    font-weight: 300;
    text-transform: capitalize;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  .profile {
    padding: 0;
    font-size: 24px;
    font-weight: 300;
    text-transform: capitalize;
  }
}
