
@import '../_variables.scss';

.flexRow {
  &--header-desktop-upper {
    margin: 0 auto;
    max-width: 1376px;

    &::after {
      width: 100%;
      content: '';
      height: 1px;
      background: #ddd;
      display: block;
      margin: 0 auto;
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .flexRowContent--header-desktop {
      padding: 16.5px 0;
      justify-content: space-between;

      .flexRow--submenu-category-3 {
        width: 100%;
        // max-width: 1440px;
        max-width: 1376px;
        // @include container-main;

        .flexRow--submenu-category-title {
          padding: 0 2rem;
          margin-top: 3.85rem;
        }

        .flexRowContent--submenu-category-items {
          margin-top: 24px;
          justify-content: space-evenly;
        }

        .flexRow--submenu-category-cta {
          margin: 48px;
          padding: 0 2rem;
        }
      }
    }
    .flexCol--header-containerIcons {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &--header-mobile {
    .flexRowContent {
      background-color: $white;
    }
  }
}

.flexRowContent--minicart-footer {
  background-color: #fff;
}

.flexRowContent--productInfoNameMinicart {
  display: flex;
  margin-bottom: 14px;
  justify-content: space-between;
}

.flexCol {
  &--header-logo {
    align-items: center;
    justify-content: center;
  }
}

.flexColChild--header-drawer-menu-col {
  margin-bottom: 0;

  :global(.vtex-auth-challenge-1-x-challengeContentWrapper) {
    padding-bottom: 2rem;
    border-bottom: 2px solid #f2f2f2;
  }
}

.flexColChild--drawer-menu-departments {
  margin-bottom: 4px;
}

.flexColChild--minicartProductImage {
  display: flex;
  align-items: center;
}

.flexCol--minicartProductInfo {
  margin-left: 20px;
}

:global(.vtex-styleguide-9-x-container) {
  border: 2px solid #ccc;
  border-radius: 8px;
}

:global(.vtex-checkout-summary-0-x-price) {
  font-size: 20px;
  color: #111;
  font-weight: bold;
}

:global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
  display: flex;
  justify-content: center;
  font-size: 0;
  font-weight: 300;
  color: #111;

  &::before {
    font-size: 14px;
    content: 'Calcule o frete no checkout!';
  }
}

.flexColChild {
  .flexCol--header-mobile-searchBar {
    :global(.vtex-input-prefix__group) {
      border: 1.5px solid $blue-dark;
      border-radius: 4px;
    }
  }
}

.flexCol--header-containerSearchBar {
  flex-direction: row;
  align-items: center;
  .flexColChild--header-containerSearchBar {
    height: max-content !important;
    :global(.vtex-store-drawer-0-x-openIconContainer--drawer-desktop) {
      display: flex;
      align-items: center;
      padding: 0.05rem 0 0.05rem 0.5rem;
      border: 1.5px solid $blue-dark;
      border-radius: 4px 0 0 4px;
      border-right: 0;
      &::after {
        content: "|";
        font-size: 2rem;
        font-weight: 200;
        color: $blue-dark;
        margin-left: 5px;
      }
    }
  }
}