.container {
  :global(.vtex-button) {
    padding: 0;
    align-items: flex-end;
    display: flex;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    position: relative;

    &:hover {
      background: none;
    }
  }

  :global(.vtex-button__label) {
    padding: 0;
  }

  .label {
    display: none;
  }

  .profile {
    padding: 0;
    font-size: 24px;
    font-weight: 300;
    text-transform: capitalize;
  }
  :global(.vtex-store-icons-0-x-profileIcon) {
    width: 40px;
    height: 40px;
  }
}
