
@import '../_variables.scss';
@import '../_media-queries.scss';

.flexRow {
  &--header-containerPromotion {
    background-color: $background-blue-black;
    .flexRowContent--header-containerPromotion {
      @include container-main;
    }
  }
  &--header-desktop-upper {
    box-shadow: 0 4px 7px 0 rgba(0,0,0,0.15);
    
    &::after {
      width: 100%;
      content: '';
      height: 1px;
      background: #ddd;
      display: block;
      margin: 0 auto;
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .flexRowContent--header-desktop-upper {
      @include container-main;
      justify-content: space-between;
      padding: 15px 20px 10px;
    }
    .flexCol--header-containerIcons {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &--header-mobile {
    .flexRowContent {
      background-color: $white;
      padding: 20px 10px 0;
    }
  }

  &--header-categories {
    margin: 0 auto;
    max-width: 1376px;
    .flexRowContent--header-categories {
      justify-content: space-around;
      padding: 15px 20px 10px;
      :global(.vtex-store-link-0-x-link--header-category) {
        display: flex;
        align-items: center;
        &1 {
          text-decoration: none;
          color: $primary-text-dark;
          ::before {
            content: "Icon";
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: $primary-gold; 
            padding: 10px 10px 0;
            margin-right: 10px;
          } 
        }
        &2 {
          text-decoration: none;
          color: $primary-text-dark;
          ::before {
            content: "Icon";
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: $primary-gold; 
            padding: 10px 10px 0;
            margin-right: 10px;
          }
        }
        &3 {
          text-decoration: none;
          color: $primary-text-dark;
          ::before {
            content: "Icon";
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: $primary-gold; 
            padding: 10px 10px 0;
            margin-right: 10px;
          }
        }
        &4 {
          text-decoration: none;
          color: $primary-text-dark;
          ::before {
            content: "Icon";
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: $primary-gold; 
            padding: 10px 10px 0;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.flexRowContent--minicart-footer {
  background-color: #F4F7FA;
}

.flexRowContent--productInfoNameMinicart {
  display: block;
  margin-bottom: 14px;
  justify-content: space-between;

  @include breakpoint("mobile"){
    margin-bottom: 8px;
  }
}

.flexCol {
  &--header-logo {
    align-items: center;
    justify-content: center;
  }
}

.flexColChild--header-drawer-menu-col {
  margin-bottom: 0;
}

.flexColChild--drawer-menu-departments {
  margin-bottom: 4px;
}

.flexColChild--minicartProductImage {
  display: flex;
  align-items: center;
  max-width: 110px;

  @include breakpoint("mobile"){
    width: 80px;
  }
}

.flexCol--minicartProductInfo {
  margin-right: 16px;
  @include breakpoint("mobile"){
    margin-left: 4px;
  }
}

:global(.vtex-styleguide-9-x-container) {
  border: 2px solid #ccc;
  border-radius: 8px;
}

:global(.vtex-checkout-summary-0-x-price) {
  font-size: 20px;
  color: #111;
  font-weight: bold;
}

:global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
  display: flex;
  justify-content: center;
  font-size: 0;
  font-weight: 300;
  color: #111;

  &::before {
    font-size: 14px;
    content: 'Spese di spedizione calcolate al momento del pagamento!';
  }
}

.flexColChild {
  .flexCol--header-mobile-searchBar {
    :global(.vtex-input-prefix__group) {
      border: 1.5px solid $blue-dark;
      border-radius: 4px;
    }
  }
}

.flexCol--header-containerSearchBar {
  flex-direction: row;
  align-items: center;
  .flexColChild--header-containerSearchBar {
    height: max-content !important;
    :global(.vtex-store-drawer-0-x-openIconContainer--drawer-desktop) {
      display: flex;
      align-items: center;
      padding: 0;
      border: 1.5px solid $blue-dark;
      border-radius: 4px 0 0 4px;
      border-right: 0;
      &::after {
        content: "|";
        font-size: 2rem;
        font-weight: 200;
        color: $blue-dark;
        margin-left: 5px;
        margin-bottom: 1px;
      }
    }
  }
}