.stockContainer {
  display: flex;

  padding: 1rem 1rem 1rem 2rem;
  gap: 1rem;

  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  margin-bottom: 37px;
}

.productName {
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #013b82;
}

.productReference {
  font-weight: 500;
  font-size: 12px;
  color: #828282;
}

.imgContainer {
  flex-shrink: 0;
}

.contentContainer h3 {
  margin: 0 0 1rem 0;
}

.regionTitle {
  font-weight: 700;
  font-size: 14px;
  color: #013b82;
  margin: 14px 0 5px 0;
}

.locationSvg,
.cartSvg {
  align-self: center;
}

.totalQuantityRegion {
  margin-top: 0;
}

.regionTab,
.deliveryCard {
  border-bottom: 1px solid #c4c4c4;
}

.regionTab {
  padding: 24px 0;
}
.deliveryCard {
  padding-bottom: 28px;
}

.regionTab :global(.vtex__icon-caret-down),
.regionTab :global(.vtex__icon-caret-up),
.regionTab--isOpen :global(.vtex-button) {
  display: none;
}

.regionTab :global(.vtex-button) {
  background: #fafafa;
  border: 1px solid #f58220;
  border-radius: 8px;
}

.regionTab :global(.vtex-button) :global(.vtex-button__label) {
  font-weight: 800;
  font-size: 14px;
  color: #f58220;
}

.pickupPointName {
  font-weight: 800;
  font-size: 14px;
  color: #013b82;
}

.pickupPointQuantity {
  font-weight: 700;
  font-size: 12px;
  color: #40464d;
}

.totalQuantityRegion {
  font-weight: 400;
  font-size: 12px;
  color: #40464d;
}

.pickupPointAddress {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
}

.pickupPointsCards {
  margin-top: -20px;
}

.regionTab .regionCard {
  height: 7rem;
}

.regionTab--isOpen .regionCard {
  height: 4rem;
}

@media screen and (max-width: 768px) {
  .availableStores {
    text-align: left;
  }
}

.available-message {
  border-bottom: 1px solid #c4c4c4;
}

.available-message > p,
.cart-message > p {
  font-weight: 600;
  margin: 0;
  font-size: 12px;
  padding-bottom: 10px;
  color: #f58220;
}

.cart-message > p {
  font-size: 14px;
}
