@media screen and (max-width: 1024px) {
  .flexRowContent--only-one {
    padding: 0 0.5rem;
    margin-top: 36px;
  }
}

.flexRowContent--grid-banners-container,
.flexCol--grid-banners-container,
.flexRowContent--mini-banners-container {
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .flexRowContent--grid-banners-container {
    padding: 0 0.5rem;
    gap: 5px;
    margin-top: 36px;
  }
}

@media screen and (max-width: 1024px) {
  .flexRowContent--mini-banners-container {
    display: flex;
    gap: 0.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .flexRow--grid-banners-container {
    padding-top: 42px;
  }
}
