.imageElement--about-slider {
  border-bottom: 4px solid #f58220;
}

@media screen and (max-width: 1024px) {
  .imageElement--about-slider {
    max-height: 400px !important;
    border-radius: 8px;
    border-bottom: 2px solid #f58220;
  }
}

@media screen and (max-width: 639px) {
  .imageElement--about-slider {
    max-height: 200px !important;
    border-radius: 8px;
    border-bottom: 2px solid #f58220;
  }
}
