@media screen and (max-width: 1024px) {
  .videoContainer--about-video {
    display: flex;
    justify-content: center;
  }
}

.videoElement {
  border-radius: 8px;
}

@media screen and (max-width: 1024px) {
  .videoElement {
    max-height: 400px;
  }
}

@media screen and (max-width: 639px) {
  .videoElement {
    max-height: 176px;
  }
}
