.quantitySelectorContainer {
  width: 100%;
}

.quantitySelectorStepper {
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 0.5rem 2rem;
}

.quantitySelectorStepper :global(.vtex-numeric-stepper-container) {
  justify-content: space-between;
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__input),
.quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button),
.quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button) {
  background: none !important;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #686477;
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__input) {
  width: 100%;
}
