.productHighlightWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  border-radius: 4px;
  font-family: 'Nunito Sans';
  font-weight: 700;
  text-align: center;
  max-height: 36px;
  padding: 12px 20px;
}

:global(.vtex-slider-layout-0-x-slide--shelf-slider-1) .productHighlightWrapper {
  width: 340px;
}

@media screen and (max-width: 1024px) {
  :global(.vtex-slider-layout-0-x-slide--shelf-slider-1) .productHighlightWrapper {
    width: 236px;
    max-height: 20px;
    padding: 10px 20px;
    white-space: nowrap;
  }
}

:global(.vtex-slider-layout-0-x-slide--shelf-slider-2) .productHighlightWrapper,
:global(.vtex-slider-layout-0-x-slide--shelf-slider-3) .productHighlightWrapper,
:global(.vtex-flex-layout-0-x-flexRowContent--search-result-product) .productHighlightWrapper {
  width: 236px;
}

@media screen and (max-width: 1024px) {
  :global(.vtex-slider-layout-0-x-slide--shelf-slider-2) .productHighlightWrapper,
  :global(.vtex-slider-layout-0-x-slide--shelf-slider-3) .productHighlightWrapper,
  :global(.vtex-flex-layout-0-x-flexRowContent--search-result-product) .productHighlightWrapper {
    width: 150px;
    max-height: 20px;
    padding: 10px 20px;
    white-space: nowrap;
    border-radius: 4px;
  }
}

.productHighlightText {
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .productHighlightText {
    font-size: 12px;
  }
}

@media screen and (max-width: 1024px) {
  [data-highlight-id='313'] {
    padding: 0 !important;
    width: 150px !important;
    white-space: normal;
    border-radius: 4px;
  }
}

@media screen and (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--product-main) [data-highlight-id='313'] {
    width: auto !important;
    padding: 10px 20px !important;
  }
}

[data-highlight-id='311'] {
  background-color: #f58220;
}

[data-highlight-id='313'] {
  background-color: #f58220;
}

[data-highlight-id='316'] {
  background-color: #013b82;
}

[data-highlight-id='337'] {
  background-color: #013b82;
}

[data-highlight-id='3338'] {
  background-color: #f58220;
}

[data-highlight-id='3339'] {
  background-color: #000000;
}
