.closeIcon--stock-search {
  color: #f58220;
}

.openIconContainer--stock-search {
  padding: 0;
  margin: 1rem 0;
}

.drawerContent--stock-search {
  background: #e5e5e512;
  height: 100%;
}

.drawer--stock-search {
  max-width: 364px !important;
}

@media screen and (max-width: 768px) {
  .drawer--stock-search {
    max-width: 510px !important;
    width: 100% !important;
  }
  .closeIconContainer--stock-search {
    justify-content: right;
  }
}
