.productDescriptionTitle {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.375rem;
  color: #f58220;
}

@media screen and (max-width: 1024px) {
  .productDescriptionTitle {
    font-size: 1.25rem;
  }
}

.productBrand--product-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #013b82;
}

@media screen and (max-width: 1024px) {
  .productBrand--product-title {
    font-size: 20px;
    line-height: 28px;
  }
}

.productNameContainer--product-title {
  margin: 0 !important;
  text-align: initial !important;
}

@media screen and (max-width: 1024px) {
  .productNameContainer--product-title {
    text-align: center;
  }
}

.productImageTag--product-images--main {
  max-height: 600px !important;
}

.productImagesThumb--product-images {
  max-width: 106px;
}

.thumbImg {
  border-radius: 8px;
}

.productImagesThumb--product-images:not(.productImagesThumbActive--product-images)
.thumbImg--product-images {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.productImagesThumbActive--product-images {
  border: 2px solid #f58220;
  border-radius: 8px;
}

.caretIcon--product-images {
  color: #f58220;
  background: #e6e6e6 !important;
  padding: 0.75rem;
  border-radius: 50%;
  border: 1px solid #f58220;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-main) .gradientBaseTop {
  opacity: 1;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-main) .caretIcon--product-images {
  background-color: transparent !important;
}

.productImagesGallerySwiperContainer--product-images {
  padding-bottom: 2rem;
}

.swiperBullet--active {
  color: #f58220;
}

.shippingContainer :global(.vtex-address-form__postalCode) {
  margin-top: 1rem;
  padding-bottom: 10px;
}

.shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-input) :global(.vtex-input__label) {
  display: none;
}

.shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-address-form-4-x-input) {
  font-size: 1rem;
  line-height: 22px;
  color: #828282;
}

.shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-address-form-4-x-input)::placeholder::after {
  content: 'Calcular CEP';
  color: red;
}

.shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-address-form__postalCode-forgottenURL) {
  display: flex;
  justify-content: center;
}

.shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-address-form__postalCode-forgottenURL) :first-child {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #9d9d9d;
}

.shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-address-form__postalCode-forgottenURL) :global(.vtex__icon-external-link) {
  display: none;
}

.shippingContainer :global(.vtex-button) {
  padding: 0.5rem 0;
}

.shippingContainer :global(.vtex-button) :global(.vtex-button__label) {
  font-weight: 700;
  text-transform: initial;
}

.shippingTableRow {
  display: grid !important;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0;
  border: none;
}

.shippingTableCellDeliveryEstimate {
  grid-row-start: 2;
}

.shippingTableCellDeliveryPrice {
  grid-row-start: 2;
  display: flex;
  justify-content: flex-end;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #013b82;
}

.shippingTableRadioBtn {
  display: none;
}

.shippingTableCellDeliveryEstimate {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #40464d;
}

:global(.vtex-flex-layout-0-x-flexRowContent--yourviews-container) .imageElement--banner-yourviews {
  max-width: 590px;
  max-height: 338px;
}

@media screen and (max-width: 768px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--yourviews-container) .imageElement--banner-yourviews {
    padding: 16px;
    max-width: 328px;
  }
}
