@charset "UTF-8";
.listPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25rem;
  color: #999999;
}

.savings--pdp-saving-price {
  background: #013b82;
  padding: 8px 16px;
  margin-left: 1rem;
  border-radius: 16px 0px;
  font-weight: 700;
  font-size: 0.875rem;
  color: #ffff;
}

@media screen and (max-width: 1024px) {
  .savings--pdp-saving-price {
    font-size: 0.75rem;
  }
}

.sellingPrice,
.sellingPrice--hasListPrice {
  color: #f58220;
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 19px;
  font-weight: bold !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-summary-content) .sellingPriceValue {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25rem;
  text-align: center;
  color: #f58220;
}

@media screen and (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--product-summary-content) .sellingPriceValue {
    font-size: 14px;
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-summary-content) .sellingPriceValue::after {
  content: ' à vista ';
  font-size: 14px;
  color: #40464d;
}

@media screen and (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--product-summary-content) .sellingPriceValue::after {
    font-size: 12px;
  }
}

.sellingPrice {
  font-weight: normal;
}

.sellerNameContainer {
  font-size: 0;
  text-align: center;
}

.sellerNameContainer {
  background: #def2ff;
  padding: 0.5rem;
}

.sellerNameContainer ::before {
  content: 'Vendido e entregue por ';
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  color: #013b82;
}

.sellerName {
  background: #def2ff;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  color: #013b82;
}

.installments--pdp-installments {
  text-transform: lowercase;
  font-size: 1rem;
}

.currencyCode--pdp-installments {
  text-transform: uppercase;
}
