.socialNetworksContainer {
  justify-content: space-around;
  margin: 1rem  0;
  @media screen and (max-width: 768px) {
    margin-bottom: 1rem;
    padding: 1rem 0 1rem 0;
    border-bottom: 2px solid #e6e6e6;
  }
}

.socialNetworkImage--facebook {
  display: none;
}
.socialNetworkLink--facebook {
  &::before {
    content: url(https://balarotiio.vteximg.com.br/arquivos/face.svg);
  }
}

.socialNetworkImage--twitter {
  display: none;
}
.socialNetworkLink--twitter {
  &::before {
    content: url(https://balarotiio.vteximg.com.br/arquivos/twitter.svg);
  }
}

.socialNetworkImage--instagram {
  display: none;
}
.socialNetworkLink--instagram {
  &::before {
    content: url(https://balarotiio.vteximg.com.br/arquivos/insta.svg);
  }
}

.socialNetworkImage--pinterest {
  display: none;
}
.socialNetworkLink--pinterest {
  &::before {
    content: url(https://balarotiio.vteximg.com.br/arquivos/pint.svg);
  }
}

.socialNetworkImage--youtube {
  display: none;
}
.socialNetworkLink--youtube {
  &::before {
    content: url(https://balarotiio.vteximg.com.br/arquivos/yt.svg);
  }
}
