.flexRowContent--category-container {
  flex-direction: column;
  align-items: center;
}

.flexColChild--image-container {
  transition: all 0.6s;
}

.flexRowContent--category-container:hover :global(.vtex-rich-text-0-x-paragraph--category-name) {
  color: #f58220;
}

.flexRowContent--category-container:hover .flexColChild--image-container {
  background-color: #f58220;
}

.flexColChild--image-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #013b82;
  border-radius: 50%;
  width: 88px;
  height: 88px !important;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .flexColChild--image-container {
    width: 60px;
    height: 60px !important;
    margin: 0 auto;
  }
}

.flexCol--image-container {
  align-items: center;
}

.flexRow--best-brands-container {
  background: #fafafa;
  margin-top: 4rem;
}

@media screen and (max-width: 1024px) {
  .flexRow--best-brands-container {
    margin-top: 2rem;
  }
}

.flexRowContent--best-brands-container {
  padding: 1rem 0 3rem;
}

@media screen and (max-width: 1024px) {
  .flexRowContent--best-brands-container {
    margin-top: 1rem;
  }
}

.flexColChild--grid-1 {
  overflow: hidden;
}

.flexRow--yourviews-container {
  background-color: #fafafa;
  margin-top: 36px;
  padding-bottom: 30px;
}

.flexRowContent--yourviews-container {
  display: flex;
  flex-direction: column;
}

.flexRowContent--yourviews-container .stretchChildrenWidth {
  width: 100% !important;
}

.flexColChild--yourview-banner {
  display: flex;
  justify-content: center;
}

.flexRowContent--mini-banners-container
:global(.vtex-store-components-3-x-imageElement--banner-3) {
  height: 100%;
}

.flexRow--timer-banner-container-desktop :global(.vtex-store-components-3-x-container) {
  max-width: 100%;
}
