@import '../_media-queries.scss';
@import '../_variables.scss';

.imageElement {
  &--upperFooterBrands {
    border: 1px solid #f2f2f2;
    border-radius: 0.25rem;
    box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.05);

    @include breakpoint('mobile') {
      height: 3.75rem;
    }
  }

  &--footer-congratulationsImage {
    height: 105px;
    width: 105px;
    margin: 0 10px;
    @include breakpoint('mobile') {
      width: 90px;
      height: 90px;
    }
  }
}
