.sliderLayoutContainer {
  &--home-main-slider-images {
    border-radius: 0;
  }

  .sliderArrows {
    &.sliderLeftArrow {
      &--home-main-slider-images {
        top: 0;
        bottom: 0;
        left: 28px;
        position: absolute;
      }

      &--upperFooterBrands,
      &--upperFooterCategories {
        position: absolute;
        top: -3rem;
        right: 2rem;
        left: auto;
      }
    }

    &.sliderRightArrow {
      &--home-main-slider-images {
        top: 0;
        bottom: 0;
        right: 50px;
        position: absolute;
      }

      &--upperFooterBrands,
      &--upperFooterCategories {
        position: absolute;
        top: -3rem;
      }
    }

    .caretIcon {
      &--home-main-slider-images,
      &--shelfAlsoView,
      &--quemSomos-carrosel {
        width: 16px !important;
        height: 16px;
        display: flex;
        overflow: visible;
      }

      &--upperFooterBrands,
      &--upperFooterCategories {
        height: 16px;
        color: #4320a8;
      }
    }
  }

  .paginationDot {
    &--home-main-slider-images {
      min-width: 2rem;
      min-height: 4px;
      max-width: 8rem;
      max-height: 4px;

      @media screen and (max-width: 64rem) {
        max-width: 2.5rem;
      }
    }
  }
}
