@import '../_media-queries.scss';
@import '../_variables.scss';

.sliderLayoutContainer {
  //&--home-main-slider-images {
  //background-color: #f4f7fa;

  // background-image: linear-gradient(to bottom, var(--tw-gradient-stops));

  // --tw-gradient-from: #f4f7fa var(--tw-gradient-from-position);
  // --tw-gradient-from-position: ;
  // --tw-gradient-to: #ffffff var(--tw-gradient-to-position);
  // --tw-gradient-to-position: ;
  // --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);

  // :global(.vtex-store-components-3-x-imageElement) {
  //   @include breakpoint('desktop') {
  //     border-radius: 40px;
  //   }
  // }
  //}

  .sliderArrows {
    &.sliderLeftArrow {
      &--home-main-slider-images {
        top: 0;
        bottom: 0;
        left: 28px;
        position: absolute;
      }
    }

    &.sliderRightArrow {
      &--home-main-slider-images {
        top: 0;
        bottom: 0;
        right: 50px;
        position: absolute;
      }
    }

    .caretIcon {
      &--home-main-slider-images,
      &--quemSomos-carrosel {
        width: 16px !important;
        height: 16px;
        display: flex;
        overflow: visible;
      }
    }
  }

  .paginationDot {
    &--home-main-slider-images {
      min-width: 2rem;
      min-height: 4px;
      max-width: 8rem;
      max-height: 4px;

      @media screen and (max-width: 64rem) {
        max-width: 2.5rem;
      }
    }
  }
}

:global(.vtex-store-components-3-x-imageElement--home-main-slider-images) {
  max-height: 370px;
  object-fit: contain;

  @include desktop {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    border-radius: 25px;
  }
}

:global(.vtex-flex-layout-0-x-flexColChild--home-main-slider-col) {
  @include desktop {
    border-radius: 25px;
    overflow: hidden;
  }
}
