.flexRow--horizontal {
  padding: 16px 0 12px;
}

.flexRowContent--horizontal {
  justify-content: space-between;
}

.flexRowContent--header-row-2-submenu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  background: #ffffff;
  padding: 2rem 2rem 4rem;
  width: 100%;
  max-height: 482px;

  border-radius: 0px 0px 8px 8px;
}

.flexRow--header-row-2-submenu {
  width: 100%;
}

.flexRowContent--submenu-main-link {
  margin: 0 0 2.5rem;
}
