@font-face {
  font-family: 'Nunito Sans';
  src: url('/arquivos/NunitoSans-Bold.woff2.css') format('woff2'),
    url('/arquivos/NunitoSans-Bold.woff.css') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/arquivos/NunitoSans-Black.woff2.css') format('woff2'),
    url('/arquivos/NunitoSans-Black.woff.css') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/arquivos/NunitoSans-BlackItalic.woff2.css') format('woff2'),
    url('/arquivos/NunitoSans-BlackItalic.woff.css') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/arquivos/NunitoSans-ExtraLightItalic.woff2.css') format('woff2'),
    url('/arquivos/NunitoSans-ExtraLightItalic.woff.css') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/arquivos/NunitoSans-ExtraLight.woff2.css') format('woff2'),
    url('/arquivos/NunitoSans-ExtraLight.woff.css') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/arquivos/NunitoSans-ExtraBoldItalic.woff2.css') format('woff2'),
    url('/arquivos/NunitoSans-ExtraBoldItalic.woff.css') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/arquivos/NunitoSans-ExtraBold.woff2.css') format('woff2'),
    url('/arquivos/NunitoSans-ExtraBold.woff.css') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/arquivos/NunitoSans-Italic.woff2.css') format('woff2'),
    url('/arquivos/NunitoSans-Italic.woff.css') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/arquivos/NunitoSans-BoldItalic.woff2.css') format('woff2'),
    url('/arquivos/NunitoSans-BoldItalic.woff.css') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/arquivos/NunitoSans-LightItalic.woff2.css') format('woff2'),
    url('/arquivos/NunitoSans-LightItalic.woff.css') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/arquivos/NunitoSans-Regular.woff2.css') format('woff2'),
    url('/arquivos/NunitoSans-Regular.woff.css') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/arquivos/NunitoSans-SemiBoldItalic.woff2.css') format('woff2'),
    url('/arquivos/NunitoSans-SemiBoldItalic.woff.css') format('woff');
  font-weight: 650;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/arquivos/NunitoSans-Light.woff2.css') format('woff2'),
    url('/arquivos/NunitoSans-Light.woff.css') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/arquivos/NunitoSans-SemiBold.woff2.css') format('woff2'),
    url('/arquivos/NunitoSans-SemiBold.woff.css') format('woff');
  font-weight: 650;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Nunito Sans';
  border: none !important;
}
.document-box {
  display: block;
}

.phone-box {
  display: block;
}

/* --------------- STEP 1  */
.cart-template-holder .cart {
  border: 1px solid #e6e6e6 !important;
}
.table.cart-items td.quantity input {
  font-size: 14px;
  font-weight: 700;
}
.table.cart-items thead tr th.product {
  width: calc(100% - 260px) !important;
}
.table.cart-items td.product-name a {
  font-size: 12px;
  line-height: 16px;

  color: #013b82;
}
.table.cart-items tbody tr td.product-name {
  min-width: 150px;
}
.table.cart-items tbody tr td.quantity {
  padding: 0.5rem;
  border: 1px solid #cccccc !important;
}
.table.cart-items tbody tr td.product-price .best-price {
  display: flex !important;
  flex-direction: column;
}
.table.cart-items .product-item i.icon.icon-remove.item-remove-ico:before {
  content: url('https://balarotiio.vteximg.com.br/arquivos/trash.svg');
}
.orderform-template-holder .step.client-profile-data .client-document,
.orderform-template-holder .step.client-profile-data .client-phone,
.orderform-template-holder .step .form-step fieldset p.client-last-name,
.orderform-template-holder .step .form-step fieldset p.client-first-name {
  width: 100%;
}

.orderform-template-holder .step .form-step fieldset.box-client-info-pj {
  display: block;
  justify-content: center;
  padding: 2rem 0;
}

.orderform-template-holder .step .form-step fieldset.box-client-info-pj .links .unstyled {
  font-size: 14px;
  line-height: 19px;

  color: #d96d10;
}
.orderform-template-holder .step .form-step fieldset.box-client-info-pj .corporate-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  color: #101820;
}

.orderform-template-holder
  .step
  .form-step
  fieldset.box-client-info-pj
  .corporate-info-box
  .checkbox
  .exempt-si-label
  .exempt-si-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  color: #828282;
}

.orderform-template-holder .step .form-step #is-corporate-client {
  margin-left: 4rem;
  padding: 1rem 3rem;
  background: #f58220;
  border-radius: 8px;

  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .orderform-template-holder .step .form-step #is-corporate-client {
    padding: 17px 19px;
    margin-left: 16px;
    font-size: 12px;
  }
}

.body-cart .cart-template .cart-template-holder {
  width: calc(64.1% - 26px);
}
.table.cart-items td.quantity .item-quantity-change i:before {
  font-size: 16px;
  color: #999999;
}
.product-item .quantity {
  position: relative;
}

.item-multiplier-label {
  position: absolute;
  left: 0;
  bottom: -20px;
}
.item-unit-label {
  position: absolute;
  right: 0;
  bottom: -20px;
}
/* ----------------- STEP 1 Right Box  */
.summary-template-holder .summary-coupon fieldset.coupon-fieldset > div[style*='none'] p.coupon-label {
  display: flex;
  margin: 0.5rem 0;
}
.summary-template-holder .summary-coupon fieldset.coupon-fieldset p label {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  text-transform: capitalize;
  color: #013b82;
}

.summary-template-holder .summary-coupon fieldset.coupon-fieldset p label::before {
  content: url('https://balarotiio.vteximg.com.br/arquivos/ticket.svg');
  margin: 0.5rem 0.5rem 0;
}
.summary-template-holder .summary-coupon fieldset.coupon-fieldset input[type='text'] {
  background: none;
  box-shadow: none;
}
.summary-template-holder .summary-coupon fieldset.coupon-fieldset input[type='text']::before {
  content: 'Cupom de Desconto';
}
.summary-template-holder .cart-links-bottom .btn-success {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;

  padding: 0.75rem;
  font-size: 0;
  color: #ffffff;
}
.summary-template-holder .btn-place-order-wrapper #cart-to-orderform:before {
  content: url('https://balarotiio.vteximg.com.br/arquivos/cart-pdp.svg');
  margin: 0.5rem 0.5rem 0 0;
}

.summary-template-holder .btn-place-order-wrapper #cart-to-orderform:after {
  content: 'Comprar';
  font-size: 16px;
  line-height: 22px;

  text-transform: uppercase;
  color: #ffffff;
}
.cart-active .table .srp-summary-result {
  margin-top: 0.75rem;
}
.body-cart .cart-template .summary-template-holder {
  width: 36.5%;
  position: initial;
}
.summary-template-holder {
  border: 1px solid #e6e6e6 !important;
}

.summary-template-holder .cart-links-bottom {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.summary-template-holder span.link-choose-more-products-wrapper {
  display: flex;
  justify-content: center;
  order: 2;

  margin-top: 1rem;
}
.link-choose-more-products,
.link-choose-more-products:hover {
  color: transparent;
  text-decoration: none;
  font-size: 0;
}
.link-choose-more-products::after {
  content: 'Continuar comprando';

  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px !important;
  line-height: 19px;

  color: #013b82;
}
.summary-template-holder tbody {
  border: none;
  padding: 0;
  margin-top: 1.5rem;
}
.summary-template-holder tbody td.info,
.summary-template-holder tfoot tr td.info {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #40464d;
}
.full-cart .summary-totalizers .monetary {
  width: auto;
}
.summary-template-holder tbody td.monetary {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  text-align: right;

  color: #40464d;
}
.newsletter .newsletter-text {
  font-size: 0;
}

.newsletter-label::after {
  content: 'Envie-me ofertas exclusivas, produtos em alta, guias de compras com curadoria e muito mais!';
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  color: #828282;
}
.newsletter-label #opt-in-newsletter:checked {
  background: #828282;
}

.client-pre-email input {
  margin: 0.75rem 0;
  font-size: 16px;
}
.client-pre-email .client-email.input.text .btn-success {
  font-weight: 600;
  font-family: 'Nunito Sans';
  font-size: 18px;
}
/* Displays None  */
.table.cart-items tbody tr td.product-name .seller,
.client-pre-email label small,
.client-pre-email .emailInfo,
.document-box,
.phone-box,
/* STP2  */
.checkout-container .cart-template .cart-more-options,
.orderform-template-holder .step .input.text label,
.vcustom--vtex-omnishipping-1-x-address label,
.orderform-template-holder .step .form-step fieldset.box-client-info-pf .client-email,
.orderform-template-holder .step.client-profile-data .client-notice.notice,
.orderform-template-holder #client-profile-data form.client-pre-email .link-box-edit i,
.orderform-template-holder #client-profile-data .step.client-profile-data .link-box-edit i,
.orderform-template-holder #shipping-data .link-box-edit i,
.orderform-template-holder #payment-data .link-box-edit i,
.vtex-omnishipping-1-x-buttonEditAddress i,
#go-to-cart-button,
.cart-fixed .cart-fixed-toggle,
.cart-fixed .cart-fixed-price,
#payment-data-submit .icon-lock,
.orderform-template .cart-template.mini-cart .item span.shipping-date,
#app-container .CardForm .BillingAddress,
/* Resume */
.body-order-form .orderform-template .cart-template.mini-cart .item .description .price {
}

.orderform-template-holder #client-profile-data .step.client-profile-data input[type='text']:not(.pac-target-input),
.orderform-template-holder #client-profile-data .step.client-profile-data input[type='tel']:not(.pac-target-input),
.orderform-template-holder #client-profile-data .step.client-profile-data input[type='email']:not(.pac-target-input),
.orderform-template-holder #client-profile-data .step.client-profile-data select:not(.pac-target-input),
.orderform-template-holder #shipping-data input[type='text']:not(.pac-target-input),
.orderform-template-holder #shipping-data input[type='tel']:not(.pac-target-input),
.orderform-template-holder #shipping-data input[type='email']:not(.pac-target-input),
.orderform-template-holder #shipping-data select:not(.pac-target-input),
.orderform-template-holder #payment-data input[type='text']:not(.pac-target-input),
.orderform-template-holder #payment-data input[type='tel']:not(.pac-target-input),
.orderform-template-holder #payment-data input[type='email']:not(.pac-target-input),
.orderform-template-holder #payment-data select:not(.pac-target-input),
.orderform-template .cart-template.mini-cart .summary-template-holder input[type='text'] {
  box-shadow: none;
  border-bottom: 1px solid #cccccc !important;
}

.orderform-template-holder #client-profile-data form.client-pre-email.client-pre-email,
.orderform-template-holder #client-profile-data .step.client-profile-data.client-pre-email,
.orderform-template-holder #shipping-data.client-pre-email,
.orderform-template-holder #payment-data.client-pre-email {
  border: 1px solid #e6e6e6 !important;
}

/* ----------------- STEP 2  */
.orderform-template-holder #client-profile-data form.client-pre-email .link-box-edit:before,
.orderform-template-holder #client-profile-data .step.client-profile-data .link-box-edit:before,
.orderform-template-holder #payment-data .link-box-edit:before {
  content: 'Editar';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  text-transform: capitalize;
  text-decoration: none;

  color: #3c3c3b;
}

.orderform-template-holder .step .form-step fieldset p span.help.error {
  position: inherit;
  font-size: 11px;
  margin-top: 0;
  padding: 0.75rem 0;
}

.orderform-template-holder .step .form-step fieldset p {
  margin: 1rem 0;
}

.orderform-template-holder .step .submit.btn.btn-success {
  font-size: 16px;
}

/* ----------------- STEP 3  */
.orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-address p {
  margin: 0 0 8px;
}

.orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-summaryChange {
  max-width: 284px;
  margin: 0 auto !important;

  padding: 1rem;

  border: none;
  background: #f58220;

  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.vtex-omnishipping-1-x-sla {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  color: #828282;
}

/* Resume  */
.orderform-template .cart-template.mini-cart .cart::-webkit-scrollbar-thumb,
.orderform-template .cart-template.mini-cart .cart::-webkit-scrollbar-thumb:hover {
  background: #013b82;
}
.orderform-template .custom-cart-template-wrap .summary-cart-template-holder ~ .summary-template-holder {
  border: none !important;
}
.orderform-template .cart-template.mini-cart .quantity {
  display: none;

  width: 12px;
  height: 16px;

  background: #fff;

  text-align: center;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #013b82;
}

.orderform-template .cart-template.mini-cart h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  color: #f58220;
}

.body-order-form .orderform-template .cart-items .item .photo {
  width: 64px;
}
.body-order-form .orderform-template .cart-template.mini-cart .item .fn {
  display: block;

  width: calc(82% - 36px);
  height: auto;

  float: initial;

  font-weight: 700;
  font-size: 0.75rem;
  white-space: initial;
  color: #013b82;
}

.body-order-form .orderform-template .cart-template.mini-cart .item .description .item-price-subtotal {
  display: flex !important;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 19px;

  color: #f58220;
}

.summary-template-holder .summary-coupon p.coupon-fields span {
  background: #fafafa;
  border: 1px solid #e6e6e6 !important;
  border-radius: 8px;

  padding: 0.4rem 0;
  align-items: center;
}
.orderform-template .cart-template.mini-cart .summary-template-holder input[type='text'] {
  padding: 1.5rem 1rem;
  background: none;
  border: none !important;
}
.coupon-fields::after {
  font-family: 'Nunito Sans';
  content: 'Apenas 1 código pode ser aplicado por pedido.';

  display: block;

  margin-top: 14px;

  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;

  color: #383838;
  text-align: center;
}

#cart-coupon-add {
  font-family: 'Nunito Sans';
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;

  text-align: center;
}

.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr td.monetary {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;

  color: #013b82;
}

.orderform-template .cart-template.mini-cart .summary-totalizers tbody td,
.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr td {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  color: #40464d;
}

/* CUSTOM  */
/* Step 1 Seller Code  */
#bf-custom-cart label {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  color: #013b82;
}
#bf-vendedores__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#bf-input-vendedor {
  width: 100%;
  max-width: 332px;
  height: 48px;
  background: #ffffff;

  border: 1px solid #dbdbdb !important;
  border-radius: 8px;
  margin: 0.7rem 0;
  padding: 0 1rem;
}
#bf-input-vendedor::placeholder {
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #9692a3;
}

#add-cod-vendedor {
  font-family: 'Nunito Sans';
  font-weight: 700;

  background: #f58220;
  border-radius: 8px;
  font-size: 16px;
  line-height: 22px;

  padding: 0.75rem 4rem;

  text-transform: uppercase;
  color: #ffffff;
}

#bf-shared-cart-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;

  order: 3;

  margin-top: 1rem;
}

#bf-shared-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  width: 100%;
  max-width: 357px;

  background: #013b82;
  border-radius: 8px;

  font-weight: bold;
  font-size: 13px;
  line-height: 22px;

  text-transform: uppercase;
  color: #ffffff;
}

#bf-shared-cart:before {
  content: url('https://balarotiio.vteximg.com.br/arquivos/share-icon.svg');
  margin-right: 0.5rem;
}

.bf-shared-cart__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 999;
  text-align: center;
}

.bf-shared-cart__modal {
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem !important;
  border-radius: 8px;
  max-width: 464px;

  word-break: break-word;
  padding: 20px;
  background: #fff;

  position: relative;
  text-align: center;
  margin: 250px auto;
}
.bf-shared-cart__modal p {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #004c98;
}
#bf-shared-modal__close-button {
  position: absolute;
  top: 30px;
  right: 30px;

  padding: 0 10px;
  cursor: pointer;
}

#bf-shared-modal__close-button::before {
  content: url('https://balarotiio.vteximg.com.br/arquivos/modal-close-button.svg');
}

.bf-shared-cart__button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.75rem 1rem;

  background: #f58220;
  border-radius: 8px;

  max-width: 216px;
  width: 100%;
  height: 48px;
  margin: 0 auto;

  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  text-transform: uppercase;
  color: #ffffff;
}
.bf-shared-cart__button::before {
  content: url('https://balarotiio.vteximg.com.br/arquivos/copy-icon.svg');
  margin-right: 0.5rem;
}

.bf-shared-cart__info-text {
  margin-top: 2rem;
}

#vendedor-inputed {
  margin: 0.75rem 0;
}

@media screen and (max-width: 1024px) {
  .body-cart .cart-template .cart-template-holder,
  .body-cart .cart-template .summary-template-holder {
    width: inherit;
  }
  .summary-template-holder .cart-links-bottom {
    position: initial;
  }

  #bf-vendedores__form {
    display: block;
  }
  #bf-input-vendedor {
    max-width: -webkit-fill-available;
  }
  #bf-custom-cart label,
  #vendedor-inputed {
    text-align: center;
  }

  #add-cod-vendedor {
    width: 100%;
  }
  #bf-shared-cart {
    font-size: 12px;
  }
}

.cart-template-holder .cart {
  padding: 12px 27px 12px 12px;
}
.v-custom-product-item-wrap img {
  height: 64px !important;
}
.table.cart-items td.product-image img {
  border-radius: 4px;
  width: auto;
}
.table.cart-items td.product-image a {
  width: 64px;
  height: 64px;
}
.table.cart-items tbody tr .v-custom-product-item-wrap {
  padding: 1rem;
}
.price-details {
  display: none;
}

@media (max-width: 980px) {
  .item-multiplier-label {
    font-size: 10px;
  }
  .item-unit-label {
    font-size: 10px;
  }
}

@media (max-width: 690px) {
  .full-cart .cart table tbody tr td.product-price {
    font-size: 12px;
  }
  .item-multiplier-label {
    font-size: 10px;
  }
  .item-unit-label {
    font-size: 10px;
  }
  .full-cart .cart table tbody tr td.item-remove {
    right: 20px;
    top: 5px !important;
  }
}
.orderform-template .cart-template.mini-cart .quantity {
}

.PaymentCardNumber .input-medium {
  background: #fafafa !important;
  border: 1px solid #e6e6e6 !important;
  border-radius: 8px;
  padding: 0.4rem 0;
  align-items: center;
}

.PaymentInstallments .input-xlarge {
  color: #999;
}

.PaymentCardHolderName .input-medium {
  background: #fafafa !important;
  border: 1px solid #e6e6e6 !important;
  border-radius: 8px;
  padding: 0.4rem 0;
  align-items: center;
}

.PaymentCardDueDate .payment-card-due-month,
.payment-card-lash,
.payment-card-due-year .input-mini {
  color: #999;
}

.PaymentCardDueDate .payment-card-due-month .input-mini {
  color: #999;
}

.PaymentCardCVV .input-mini {
  background: #fafafa !important;
  border: 1px solid #e6e6e6 !important;
  border-radius: 8px;
  padding: 0.4rem 0;
  align-items: center;
}

.PaymentCardHolderDocument .input-small {
  background: #fafafa !important;
  border: 1px solid #e6e6e6 !important;
  border-radius: 8px;
  padding: 0.4rem 0;
  align-items: center;
}

.payment-group-list-btn {
  display: flex;
  flex-direction: column;
}

.payment-group-list-btn :nth-child(1) {
  order: 6;
}
.payment-group-list-btn :nth-child(2) {
  order: 3;
}
.payment-group-list-btn :nth-child(3) {
  order: 5;
}
.payment-group-list-btn :nth-child(4) {
  order: 4;
}
.payment-group-list-btn :nth-child(5) {
  order: 2;
}
.payment-group-list-btn :nth-child(6) {
  order: 7;
}
.payment-group-list-btn :nth-child(7) {
  order: 1;
}
.orderform-template .payment-confirmation-wrap .payment-submit-wrap {
  position: initial !important;
}
.cart-more-options #shipping-preview-container {
  display: flex !important;
}
.orderform-template .custom-cart-template-wrap {
  overflow: hidden;
}
