.imageElement--made-by-b8 {
  margin-right: 2rem;
}

.imageElement--payment-image {
  width: 100%;
  display: flex;
  max-width: 40px;
}

.imageElement--security-image {
  display: flex;
}

@media screen and (max-width: 767px) {
  .imageElement--security-image-4 {
    margin-right: 0;
  }
}

.backToTopButtonContainer {
  position: sticky;
}

.backToTopButtonContainer :global(.vtex-button) {
  background: #f58220;
  height: 48px;
  width: 48px;
  padding: 0;
  border: none;
}

.backToTopButtonContainer :global(.vtex-button) :global(.vtex-button__label) {
  padding: 0 !important;
}

@media screen and (max-width: 1024px) {
  .backToTopButtonContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .backToTopButtonContainer {
    margin-top: -30px;
  }
}

.newsletter .container .form .label {
  display: none;
}

.newsletter .container .form .inputGroup {
  padding-top: 20px;
}

.newsletter .container .form .inputGroup :global(.vtex-styleguide-9-x-input) {
  color: #40464d;
}

.newsletter .container .form .buttonContainer :global(.vtex-button) {
  border: none;
  border-radius: 4px;
  background-color: #f58220;
}

.newsletter .container .form .buttonContainer :global(.vtex-button) :global(.vtex-button__label) {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

.newsletter .container .form :global(.vtex-input-prefix__group) {
  border-radius: 4px;
}

.inputGroup :global(.vtex-input__error) {
  display: flex;
  margin-left: 2px;
}

.confirmation .confirmationText {
  color: #f58220;
  font-size: 18px;
  font-weight: 700;
}

.confirmation .confirmationTitle {
  color: #013b82;
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 4px;
}

.newsletter .container .form :global(.vtex-input-prefix__group) {
  border: 1px solid #f58220;
  border-radius: 4px;
}

@media screen and (min-width: 1026px) {
  .newsletter .container .form .buttonContainer :global(.vtex-button) {
    width: 200px;
    height: 48px;
  }
  .inputGroup {
    height: 89px;
    padding: 0;
  }
  .newsletter .container {
    padding: 0;
  }
  .newsletter .container .form :global(.vtex-input-prefix__group) {
    height: 48px;
    width: 400px;
  }
  .confirmationTitle,
  .confirmationText {
    margin-left: 150px;
  }
}

@media screen and (max-width: 1025px) {
  .newsletter .container .form .buttonContainer :global(.vtex-button) {
    width: 296px;
    height: 56px;
  }
  .newsletter .container .form :global(.vtex-input-prefix__group) {
    width: 296px;
    height: 56px;
  }
  .container,
  .form {
    padding: 0;
  }
  .confirmationTitle {
    padding-top: 12px;
    font-size: 24px;
  }
  .confirmationText {
    font-size: 14px;
  }
  .confirmation .confirmationText {
    font-size: 16px;
    font-weight: 700;
  }
  .confirmation .confirmationTitle {
    color: #013b82;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 4px;
  }
}
