<footer>
  <section>
    <div class="payment-container">
      <img src="https://balarotiio.vteximg.com.br/arquivos/visa.svg" alt="visa" />
      <img src="https://balarotiio.vteximg.com.br/arquivos/mastercard.svg" alt="mastercard" />
      <img src="https://balarotiio.vteximg.com.br/arquivos/diners.svg" alt="diners" />
      <img src="https://balarotiio.vteximg.com.br/arquivos/bradescard.svg" alt="bradescard" />
      <img src="https://balarotiio.vteximg.com.br/arquivos/bndes.svg" alt="bndes" />
      <img src="https://balarotiio.vteximg.com.br/arquivos/elo.svg" alt="elo" />
      <img src="https://balarotiio.vteximg.com.br/arquivos/hipercard.svg" alt="hipercard" />
      <img src="https://balarotiio.vteximg.com.br/arquivos/picpay.svg" alt="picpay" />
      <img src="https://balarotiio.vteximg.com.br/arquivos/pix.svg" alt="pix" />
      <img src="https://balarotiio.vteximg.com.br/arquivos/boleto.svg" alt="boleto" />
      <img src="https://balarotiio.vteximg.com.br/arquivos/boletoparcelado.svg" alt="boletoparcelado " />
    </div>
    <div class="copyright-container">
      <p>
        Todos os direitos reservados © 2021 - Balaroti Comércio de Materiais de Construção SA. - CNPJ 77.044.618/0001-88
      </p>
      <p>
        Os preços e condições de pagamento são válidos para o dia de hoje e exclusivas via internet. Na divergência de
        preços fica válido o apresentado no carrinho. Ofertas válidas até o término de nossos estoques. Vendas sujeitas
        à análise, confirmação de dados e estoque. As imagens são ilustrativas e informações sobre os produtos são
        resumidas e sujeitas à alteração sem aviso prévio.
      </p>
    </div>
    <div class="madeby-container">
      <p>Feito por:</p>
      <img src="https://balarotiio.vteximg.com.br/arquivos/b8.svg" alt="b8-logo" />
      <p>Tecnologia</p>
      <img src="https://balarotiio.vteximg.com.br/arquivos/vtex-logo.svg" alt="vtex-logo" />
    </div>
  </section>
</footer>

<style>
  body {
    padding-bottom: 0 !important;
  }
  footer {
    width: 100%;
    bottom: 0;

    margin-top: 10rem;

    background: #ffff;
    border: 1px solid #f5f5f5;
  }
  footer section {
    padding: 2rem 0;
  }
  footer section div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .payment-container {
    margin-bottom: 2rem;
  }
  .payment-container img {
    margin-right: 1rem;
  }
  .copyright-container {
    flex-direction: column;
  }

  .copyright-container p {
    text-align: center;
    margin: 1rem 0;
  }
  .copyright-container p:first-child {
    font-weight: 800;
  }
  .copyright-container p:last-child {
    border-bottom: 1px solid #e5e5e5 !important;
    padding-bottom: 2rem;
    max-width: 1024px;
    margin-inline: auto;
  }

  .madeby-container p {
    margin: 0 1rem;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1rem;

    text-align: center;

    color: #999999;
  }
  .madeby-container img {
    max-width: 56px;
  }

  @media screen and (max-width: 1024px) {
    footer {
      position: inherit;
      margin: 2rem 0 0 0;
    }

    footer section {
      padding: 2rem 0.5rem;
    }

    .payment-container {
      margin-bottom: 1.5rem;
      flex-wrap: wrap;
    }
    .payment-container div {
      justify-content: space-between;

      flex-wrap: wrap;
      max-width: 290px;
      margin-inline: auto;
    }
    .payment-container p {
      text-align: center;
      max-width: 265px;
      margin-top: 14px;
    }

    .copyright-container p:last-child {
      max-width: 328px;
    }
  }
</style>
