.wishlistIconContainer {
  position: absolute;
  right: 0;
  z-index: 1;
}

.outline {
  background: url("https://balarotiio.vtexassets.com/arquivos/wish-icon.svg");
  background-repeat: round;
}

.fill {
  background: url("https://balarotiio.vtexassets.com/arquivos/wish-icon-filled.svg");
  background-repeat: round;
}
