<div class="footer-container">
	<div class="footer-container-upper">
      <div class="footer-content-upper">
        <span class="footer-upper-text">Pagamenti sicuri</span>
        <img class="footer-lock-icon" src="/arquivos/lock-icon.svg" alt="lock-icon">
        <div class="footer-card-list">
          <img class="footer-card" src="/arquivos/visa.png" alt="visa">
          <img class="footer-card" src="/arquivos/mastercard.png" alt="mastercard">
          <img class="footer-card" src="/arquivos/maestro.png" alt="maestro">
          <img class="footer-card" src="/arquivos/amex.png" alt="american express">
          <img class="footer-card" src="/arquivos/paypal.png" alt="paypal">
          <img class="footer-card" src="/arquivos/postepay.png" alt="postepay">
          <img class="footer-card" src="/arquivos/contrassegno.png" alt="contrassegno">
          <img class="footer-card" src="/arquivos/bonifico.png" alt="bonifico">
        </div>
      </div>
  	</div>
  	<div class="footer-container-lower">
      <div class="footer-content-lower">
        <span class="footer-info">BBO Srl - Sede operativa: Via Galla Placidia 28 - 00159 ROMA (RM) Italia | Capitale sociale versato: 10.000€ | P.Iva IT10135840964 | REA 2508431 | Copyright © 2022. All Rights Reserved</span>
        <img class="footer-vtex-logo" src="/arquivos/vtexWhiteLogo.svg" alt="vtex-logo">
        </div>
     </div>
</div>