<footer class="footer">
	<div class="footer-payments">
		<p class="footer-payments__text">Pague com</p>
		<img src="/arquivos/pagamentos-aiwa-footer.png" class="footer-payments__cards" />
	</div>
	<div class="footer-infos">
		<a href="/" class="footer-infos__link">
			<img src="/arquivos/logo-aiwa-footer.png" class="footer-infos__link-logo" />
		</a>
		<div class="footer-infos__content">
			<p class="footer-infos__content-rights">
				2022 @ All Right Reserved to Aiwa Brasil
			</p>
			<p class="footer-infos__content-data">
				CNPJ: 07.666.567/0001-40 - Endereço: Estrada da Volta - 1200 - Conceição
				Do Jacuípe - BA
			</p>
		</div>
		<div class="footer-logos">
			<div class="footer-logos__content">
				<p class="footer-logos__content-text">Tecnologia</p>
				<img src="/arquivos/logo-vtex.png" class="footer-logos__content-logo" />
			</div>
			<div class="footer-logos__content">
				<p class="footer-logos__content-text">Feito por</p>
				<a href="https://www.b8one.com/" target="_blank">
					<img src="/arquivos/logo-b8one.png" class="footer-logos__content-logo" />
				</a>
			</div>
		</div>
	</div>
</footer>