.labelContainer {
  display: flex;
  max-width: 415px;
  gap: 2.2rem;
  margin: 0 auto;
}
.labelContainer span {
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;

  color: #f58220;
}
.inputGroupContainer {
  max-height: 200px;
  overflow-x: hidden;
}
.inputGroupContainer {
  max-height: 200px;
  overflow-x: hidden;
}
.inputGroupContainer::-webkit-scrollbar {
  width: 6px;
  border-radius: 6px;
}
.inputGroupContainer::-webkit-scrollbar-track {
  background: #ffffff;
  width: 6px;
  border-radius: 6px;
}
.inputGroupContainer::-webkit-scrollbar-thumb {
  background: #dbdbe2;
  width: 6px;
  border-radius: 6px;
}

.inputContainer {
  display: flex;
  align-items: center;

  gap: 0.75rem;
  padding: 0.5rem 1.5rem;
}
.inputContainer > span {
  font-size: 14px;
  line-height: 19px;

  color: #828282;
}
.inputContainer span:nth-of-type(2) {
  font-weight: 600;
  font-size: 17px;
  line-height: 19px;

  color: #828282;
}
.inputContainer span:last-of-type {
  cursor: pointer;
  margin-left: 0.5rem;
}
.inputContainer span:last-of-type img {
  width: 3.5rem;
  height: 1.5rem;
}

.inputContainer :global(.vtex-input-prefix__group) {
  height: 48px;
  border-radius: 8px;
}
.inputContainer :global(.vtex-styleguide-9-x-input) {
  background: #fafafa;
  color: #40464d;
}
.inputContainer :global(.vtex-styleguide-9-x-input)::-webkit-outer-spin-button,
.inputContainer :global(.vtex-styleguide-9-x-input)::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputContainer :global(.vtex-styleguide-9-x-input)[type='number'] {
  -moz-appearance: textfield;
}

.addButtonContainer {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.addButtonContainer button {
  display: flex;
  align-items: center;
  text-align: center;

  padding: 0.1rem 1rem;
  background: #ffffff;

  border: 1px solid #f58220;
  border-radius: 8px;
  cursor: pointer;

  transition: all 0.4s;
}

.addButtonContainer button p {
  margin-left: 0.5rem;

  font-family: 'Nunito Sans';
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;

  color: #f58220;
}
.addButtonContainer button img {
  width: 2.5rem;
  height: 2.5rem;
}

.addButtonContainer button:hover {
  background: #f58220;
}
.addButtonContainer button:hover p {
  color: #ffffff;
}
.addButtonContainer button:hover > svg {
  fill: #ffff;
}
.totalContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.totalContainer div span + span {
  margin-left: 0.5rem;
  font-weight: 800;
  font-size: 28px;
  line-height: 22px;

  color: #013b82;
}
.totalContainer button {
  background: #f58220;
  border-radius: 8px;
  border: none;

  padding: 0 2rem;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

  color: #ffffff;

  cursor: pointer;
  transition: all 0.4s;
}
.totalContainer button:hover {
  filter: brightness(0.8);
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .addButtonContainer {
    margin: 1rem 0;
  }
  .addButtonContainer button p {
    font-size: 12px;
  }
  .totalContainer button {
    font-size: 14px;
  }
  .totalContainer button p {
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 640px) {
  .addButtonContainer {
    margin: 0.875rem 0;
  }
  .labelContainer {
    max-width: 208px;
    gap: 4rem;
    margin: 0 auto;
  }
  .labelContainer span {
    font-size: 12px;

    color: #f58220;
  }
  .inputContainer {
    gap: 0.2rem;
    padding: 0.5rem 0;
  }
  .addButtonContainer button p {
    margin: 0.7rem 0.5rem;
  }
  .totalContainer {
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }
  .totalContainer button {
    padding: 0 1.5rem;
  }
}
