.sliderLayoutContainer--wish-list-shelf {
  max-width: 1050px;
  padding: 0 20px;
}

@media screen and (max-width: 1024px) {
  .sliderLayoutContainer--wish-list-shelf {
    max-height: 360px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 1024px) {
  .sliderTrackContainer--wish-list-shelf {
    max-height: 360px;
  }
}

.paginationDotsContainer--wish-list-shelf {
  bottom: -20px;
}

.paginationDot--wish-list-shelf--isActive {
  background-color: #f58220;
}

.caretIcon--wish-list-shelf {
  color: #f58220;
}

@media screen and (min-width: 1025px) {
  .sliderTrack--wish-list-shelf {
    width: 200%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1025px) {
  .sliderTrack--wish-list-shelf .slide--wish-list-shelf {
    width: 100% !important;
  }
}

@media screen and (max-width: 1024px) {
  .sliderTrack--wish-list-shelf :global(.vtex-product-summary-2-x-imageStackContainer) {
    padding: 0;
  }
  .sliderTrack--wish-list-shelf :global(.vtex-product-summary-2-x-imageStackContainer) :global(.vtex-product-summary-2-x-image) {
    max-width: 116px !important;
  }
}

@media screen and (max-width: 1024px) {
  .sliderTrack--wish-list-shelf :global(.vtex-product-summary-2-x-element--wish-summary) {
    max-height: 360px;
  }
}

.sliderTrack--wish-list-shelf :global(.vtex-store-components-3-x-discountInsideContainer) {
  font-size: 16px;
  margin-top: 10px;
  top: 0;
}

@media screen and (max-width: 1024px) {
  .sliderTrack--wish-list-shelf :global(.vtex-store-components-3-x-discountInsideContainer) {
    font-size: 10px;
  }
}
