.element--wish-summary {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
}

.containerNormal--wish-summary {
  padding: 0 6px !important;
  border-radius: 8px;
}

.clearLink--wish-summary {
  border-radius: 8px;
}

.clearLink--wish-summary .imageStackContainer {
  padding: 20px;
  width: 216px;
  height: 216px;
}

@media screen and (max-width: 1024px) {
  .clearLink--wish-summary .imageStackContainer {
    width: 116px;
    height: 116px;
  }
}
