.flexCol--pdp-container {
  @media screen and (max-width: 1024px) {
    padding: 0 1rem;
  }
}

.flexRowContent--product-main {
  justify-content: space-between;
}
.flexCol--left-side {
  position: relative;

  :global(.vtex-wish-list-1-x-wishlistIconContainer) {
    right: 1rem;
    top: 1rem;
    z-index: 10;

    :global(.vtex-wish-list-1-x-iconSize) {
      width: 24px;
      height: 24px;
    }

    :global(.vtex-button__label) {
      @media screen and (max-width: 1024px) {
        padding: 0;
      }
    }
    @media screen and (max-width: 1024px) {
      right: 0.5rem;
      top: 0.5rem;
    }
  }
}

:global(.vtex-slider-layout-0-x-slide--shelf-slider-2),
:global(.vtex-slider-layout-0-x-slide--shelf-slider-3),
:global(.vtex-flex-layout-0-x-flexRowContent--search-result-product) {
  :global(.vtex-wish-list-1-x-iconSize) {
    @media screen and (max-width: 1024px) {
      width: 17px;
      height: 17px;
    }
  }
}

.flexColChild--left-side {
  max-width: 800px;
}

.flexCol--right-side {
  @media screen and (max-width: 1024px) {
    margin-top: 1rem;
  }
}
.flexColChild--right-side {
  min-width: 384px;
  max-width: 384px;

  @media screen and (max-width: 1024px) {
    min-width: auto;
    max-width: auto;
  }
}

.flexRowContent--product-list-savings {
  margin-bottom: 10px;
  margin-top: 10px;
}
.flexRow--product-list-price-container {
  margin: 1rem 0;
}

.flexRowContent--product-list-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (max-width: 1024px) {
    display: flex;
  }
}

.flexRowContent--product-price-container {
  align-items: center;
  gap: 0.75rem;

  :global(.vtex-product-price-1-x-currencyContainer--pdp-selling-price) {
    @media screen and (max-width: 1024px) {
      font-size: 16px !important;
    }
  }
}

.flexRowContent--product-quantity-container {
  flex-direction: column;
}

.flexRowContent--product-buy-now {
  margin: 0 0 0.75rem 0;
  :global(.vtex-button) {
    background: #f58220;

    :global(.vtex-button__label) {
      font-weight: 800;
      font-size: 1rem;
      line-height: 22px;

      color: #ffffff;
    }
  }
}
.flexRowContent--add-to-cart-button {
  margin: 0 0 0.75rem 0;
  :global(.vtex-button) {
    background-color: #fafafa;
    border: 1px solid #f58220;

    :global(.vtex-button__label) {
      font-weight: 800;
      font-size: 1rem;
      line-height: 22px;
      color: #f58220;
    }
  }
}

// Frete

.flexRowContent--shipping-simulator-container {
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem 0;

  border: 1px solid #dbdbdb;
  border-radius: 8px;
  .stretchChildrenWidth {
    width: 100% !important;
    flex-direction: column;
  }
}

.flexRowContent--product-reference-container {
  margin-top: 1rem;
  justify-content: space-between;
  line-height: initial;

  :global(.vtex-reviews-and-ratings-2-x-summaryContainer) {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    display: flex;
    margin-top: 1rem;
    gap: 0.75rem;
  }
}

.flexRow--productSpecification {
  padding: 22px 32px;
  border-bottom: 1px solid #e6e6e6;
}

.flexRow--productSpecification:nth-child(even) {
  background: #fafafa;
  margin-right: 4px;
}

.flexRowContent--seller-selector-container {
  flex-direction: column;
}

.flexRow--productSpecificationGroup {
  border: 1px solid #e6e6e6;
}

.flexRow--seller-content {
  width: 100%;
}
.flexRowContent--seller-content {
  flex-direction: column;
}

.flexRow--stock-container {
  padding: 0 1rem;
}

// Mobile
.flexRowContent--mobile-buy-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;

  background: #ffffff;
  opacity: 0.96;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.16);

  :global(.vtex-product-price-1-x-sellingPriceValue)::before {
    content: 'Por: ';
    color: #40464d;
    font-size: 12px;
    font-weight: normal;
    margin-right: 5px;
  }
}

.flexColChild--col-buy-button {
  :global(.vtex-button) {
    background: #f58220;
  }
}
.flexRowContent--videoContainer {
  :global(.vtex-product-specifications-1-x-specificationValue--description-context) {
    :global(.vtex-specification-video) {
      width: 100%;
      max-width: 837px;
      height: 468px;
      @media screen and (max-width: 768px) {
        height: 320px;
      }
      @media screen and (max-width: 360px) {
        height: 184px;
      }
    }
  }
}

.flexRow--certificatesContainer {
  .flexRowContent--certificatesContainer {
    width: 78%;
    margin-left: auto;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    .stretchChildrenWidth {
      justify-content: flex-start;
    }
    [data-specification-name='Material'] {
      display: none;
    }
    [data-specification-group='Características do Produto'] {
      display: none;
    }
    [data-specification-group='Especificações Técnicas'] {
      display: none;
    }
    [data-specification-name='Novo Selo'] {
      display: flex;
      justify-content: space-between;
      width: 371px;
      @media screen and (max-width: 1024px) {
        height: 44px;
        width: 328px;
      }
    }
    [data-specification-name='Selo Inmetro'] {
      position: absolute;
      top: 2px;
      left: 175px;
      z-index: 99;
      @media screen and (max-width: 1024px) {
        left: 0;
        :first-child {
          width: 40px;
        }
      }
    }
    [data-specification-name='Selo Exclusivo Site'] {
      position: absolute;
      bottom: 175px;
      left: 175px;
      z-index: 99;
      @media screen and (max-width: 1024px) {
        left: 0;
        bottom: 80px;
        :first-child {
          width: 42px;
        }
      }
    }
  }
}
