.product-identifier__label {
  font-size: 0;
}

.product-identifier__value,
.product-identifier__label::after {
  content: 'sku';
  font-weight: 500;
  font-size: 0.75rem !important;
  line-height: 1rem;

  text-transform: uppercase;
  color: #9692a3;
}

.product-identifier__value {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  color: #013b82;
}
