.paragraph--specification {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.375rem;

  color: #f58220;

  @media screen and (max-width: 1024px) {
    font-size: 1.25rem;
    max-width: 264px;
    margin: 0 0 8.5px 0;
  }
}

.paragraph--quantity-title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;

  color: #013b82;
}

.paragraph--shipping-title {
  margin: 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: center;
  color: #004c98;
  padding-bottom: 10px;
}

.container--stock-text-trigger {
  background: #013b82;
  border-radius: 8px;

  width: 100%;
  justify-content: center;
}

.paragraph--stock-text-trigger {
  font-weight: 800;
  font-size: 1rem;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.paragraph--stock-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  margin: 0 0 17px 0;
  color: #f58220;
}

.container--stock-warning {
  margin: 2rem 0 1rem;
  background: #e6e6e6;
  border-radius: 8px;
}

.paragraph--stock-warning {
  font-size: 14px;
  line-height: 19px;

  color: #40464d;
}

.wrapper--modal-trigger-meter-calculator {
  width: 100%;
  margin-top: 1rem;
  border: 1px solid #f58220;
  border-radius: 8px;

  cursor: pointer;
}

.paragraph--modal-trigger-meter-calculator {
  justify-content: center;
  display: flex;

  font-weight: 800;
  font-size: 16px;
  line-height: 22px;

  color: #f58220;

  &::before {
    content: url(https://balarotiio.vteximg.com.br/arquivos/meter-icon.svg);
    margin: 0.2rem 0.5rem 0;
  }
}

.paragraph--selling-price-label {
  margin-right: 0.5rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #40464d;
  text-transform: initial;
}
