@import '../_media-queries.scss';
@import '../_variables.scss';

.flexCol--quemSomos-timelineContainer{
  @include container-main;

  height: 20rem;  
}

.flexColChild--quemSomos-timelineContainer {
  &:last-child {
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 20px;
    min-height: 170px;
    &::-webkit-scrollbar {
      display: none;
    }
    @include desktop {
      &::-webkit-scrollbar {
        display: none;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        height: 5px;
      }
      &::-webkit-scrollbar-track {
        background-color: var(--white);
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--primary-light);
      }
    }
  }
  .flexRow--quemSomos-containerTimeline {
    min-width: 1356px;
    @include mobile {
      min-width: 1206px;
    }
  }

  .flexRowContent--quemSomos-containerTimeline {
    &:last-child {
      padding-right: 10px;
    }
    @include breakpoint('mobile') {
      display: flex;
      flex-direction: row;
      width: 1200px;
    }
  }
  :global(.vtex-rich-text-0-x-paragraph--quemSomos-historyTitle) {
    white-space: nowrap;
    margin-left: 2rem;
  }
  .flexCol--quemSomos-timelinePointContainer {
    max-width: 1250px;
    .flexColChild--quemSomos-timelinePointContainer {
      height: 5rem;
      &:first-child::after {
        content: '';
        position: relative;
        left: 24px;
        bottom: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='236' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23E32000' d='M0 0h236v2H0z'/%3E%3C/svg%3E");
        width: 90%;
        height: 2.5px;
        display: block;
        box-sizing: border-box;
      }
    }
  }
}

.flexRowContent--quemSomos-referencySection,
.flexRowContent--quemSomos-identitySection {
  width: 100%;
}
.flexCol--quemSomos-referencyContainer,
.flexCol--quemSomos-identityContainer {
  display: flex;
  flex-direction: row;
  @include container-main;

  margin: 4rem auto 2rem;
  .flexCol--quemSomos-referency-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 600px;
    margin: 2rem;
    @include breakpoint('mobile') {
      margin-left: 2rem;
      max-width: 80%;
    }
    :global(.vtex-rich-text-0-x-container--quemSomos-historyTitle) {
      margin-top: 4rem;
    }
    :global(.vtex-rich-text-0-x-paragraph) {
      text-align: left;
    }
  }
}

.flexRowContent--quemSomos-carroselSection {
  @include container-main;
}
.flexCol--quemSomos-identityContainer {
  @include breakpoint('mobile') {
    display: flex;
    flex-direction: column;
  }
}
.flexCol--quemSomos-referencyContainer {
  @include breakpoint('mobile') {
    display: flex;
    flex-direction: column-reverse;
  }
}
