.slide--quemSomos-carrosel{
  margin-left:0% !important;
  margin-right: 0% !important;
  @media screen and (max-width: 768px) {
    width: 100% !important;   
  }
}
.sliderTrack--quemSomos-carrosel{
  gap: 16px;
  @media screen and (max-width: 768px) {
      gap: 8px;
      width: 100% !important;
      margin: 0 8px;    
  }
}

.slideChildrenContainer--quemSomos-carrosel {
  width: 564px;
  @media screen and (max-width: 768px) {
    width: 288px;
  }
}

.sliderTrackContainer--quemSomos-carrosel::-webkit-scrollbar {
  display: none;
}


