.summarySmallDisclaimer {
  display: none;
}

.summaryItemLabel {
  color: #40464d;
  font-size: 14px;
  font-weight: normal;
}

.summaryItemPrice {
  color: #40464d;
  font-weight: bold;
  font-size: 20px;
}
