.productName--minicart {
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #013b82;
  display: -webkit-box;
  white-space: pre-wrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.deleteIcon {
  color: #f58220;
}

.quantitySelector :global(.vtex-dropdown__container) {
  border-radius: 8px !important;
  border: 1px solid #e6e6e6 !important;
  max-width: 70px;
  max-height: 36px;
}

.productPriceCurrency {
  display: none;
}

.productPriceContainer {
  display: flex;
  align-items: center;
  margin: 0 20px 0 13px;
  max-width: 65px;
}

.productPriceContainer .price {
  color: #f58220;
  font-weight: bold;
  font-size: 14px;
}

.quantitySelector :global(.vtex-dropdown__container) :global(.vtex-dropdown__caption) {
  color: #000000;
}

.removeButtonContainer {
  display: flex;
}

:global(.vtex-minicart-2-x-minicartProductListContainer) .quantitySelectorButton {
  width: 18px;
  padding: 0;
  background-color: #fff;
  color: #9692a3;
}

:global(.vtex-minicart-2-x-minicartProductListContainer) .quantitySelectorDecrease {
  border-right: none;
  padding-left: 3px;
  border-radius: 8px 0 0 8px;
}

:global(.vtex-minicart-2-x-minicartProductListContainer) .quantitySelectorIncrease {
  border-left: none;
  padding-right: 3px;
  border-radius: 0 8px 8px 0;
}

:global(.vtex-minicart-2-x-minicartProductListContainer) .inputContainer :nth-child(even) {
  display: none;
}

:global(.vtex-minicart-2-x-minicartProductListContainer) .inputContainer :nth-child(odd) {
  text-align: center;
  color: #686477;
}

:global(.vtex-minicart-2-x-minicartProductListContainer) .inputContainer {
  padding: 0;
  width: 30px;
}
