.menuContainer--support-menu {
  flex-direction: column;
}

.styledLinkContainer--item-menu {
  padding: 0px;
  margin: 0px;
}

.styledLinkContent--item-menu {
  font-size: 12px;
  line-height: 16px;
  color: #555555;
  margin-top: 24px;
}

.menuItem--header-row-2--isOpen .styledLinkContent--header-row-2 {
  color: #f58220;
}
