.flexCol--flex-colum-menu {
  width: auto;
}

.flexCol--support-container-row {
  height: fit-content;
}

.flexRowContent--support-menu-row {
  padding: 20px 0 0 20px;
}

@media screen and (max-width: 639px) {
  .flexRowContent--support-menu-row {
    padding-left: 0px;
  }
}

.flexCol--support-menu-col1 {
  min-width: 280px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 16px;
  height: fit-content;
}

@media screen and (max-width: 1024px) {
  .flexCol--support-menu-col1 {
    min-width: 200px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 639px) {
  .flexCol--support-menu-col1 {
    display: none;
  }
}

.flexCol--support-container-col1 {
  max-width: 800px;
  padding-left: 136px;
  height: fit-content;
}

@media screen and (max-width: 1024px) {
  .flexCol--support-container-col1 {
    padding-left: 45px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 639px) {
  .flexCol--support-container-col1 {
    padding: 0 16px;
  }
}

.flexCol--acceptance-selected :global(.vtex-menu-2-x-styledLinkContainer--item-1) :global(.vtex-menu-2-x-styledLinkContent--item-menu) {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #f58220;
}

.flexCol--info-pay-selected :global(.vtex-menu-2-x-styledLinkContainer--item-2) :global(.vtex-menu-2-x-styledLinkContent--item-menu) {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #f58220;
}

.flexCol--method-delivery-selected :global(.vtex-menu-2-x-styledLinkContainer--item-3) :global(.vtex-menu-2-x-styledLinkContent--item-menu) {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #f58220;
}

.flexCol--exchange-selected :global(.vtex-menu-2-x-styledLinkContainer--item-4) :global(.vtex-menu-2-x-styledLinkContent--item-menu) {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #f58220;
}

.flexCol--duplicate-selected :global(.vtex-menu-2-x-styledLinkContainer--item-5) :global(.vtex-menu-2-x-styledLinkContent--item-menu) {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #f58220;
}

.flexCol--card-cetelem-selected :global(.vtex-menu-2-x-styledLinkContainer--item-6) :global(.vtex-menu-2-x-styledLinkContent--item-menu) {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #f58220;
}

.flexCol--privacy-selected :global(.vtex-menu-2-x-styledLinkContainer--item-7) :global(.vtex-menu-2-x-styledLinkContent--item-menu) {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #f58220;
}

.flexCol--terms-selected :global(.vtex-menu-2-x-styledLinkContainer--item-8) :global(.vtex-menu-2-x-styledLinkContent--item-menu) {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #f58220;
}
