.homeIcon {
  display: none;
}

.homeLink--simple-breadcrumb::before {
  content: 'Balaroti';
  font-size: 0.75rem;
  line-height: 1rem;

  color: #828282;
}

.container--simple-breadcrumb {
  margin: 0 auto;
  display: flex;
  @media screen and (min-width: 1025px) {
    max-width: 1216px;
  }
  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
    padding: 0;
  }
}

.link--simple-breadcrumb {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;

  color: #828282;
}
.term {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;

  color: #013b82;
}
