.flexRowContent--cartSummary {
  padding: 24px 32px;
  margin: 0 0 16px 0;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.flexColChild--minicartProductImage {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.flexRow--minicart-products {
  max-height: 60%;
  overflow: auto;
  background-color: #fafafa;
}

.flexRow--minicart-products::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

.flexRow--minicart-products::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #0000002b;
  border-radius: 10px;
}

.flexRow--minicart-products::-webkit-scrollbar-thumb {
  background-color: #f58220;
  border-radius: 20px;
}

.flexRowContent--minicart-products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRow--minicart-still-buying-container {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  padding-bottom: 10px;
}

.flexRowContent--minicart-still-buying-container {
  max-width: 324px;
  max-height: 48px;
  border-radius: 8px;
  border: 1px solid #f58220;
  padding: 13px 48px;
  :global(.vtex-store-link-0-x-link--minicart-still-buying) {
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: #f58220;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
  }
}

.flexRowContent--minicart-still-buying-container:hover {
  background-color: #f58220;
  cursor: pointer;
  :global(.vtex-store-link-0-x-link--minicart-still-buying) {
    color: #fff;
  }
}

.flexRowContent--minicartProductHeader {
  :global(.vtex-dropdown__button) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    text-align: center;
  }
}

.flexRowContent--minicart-product-name-container {
  width: 180px;
  height: 48px;
}

.flexRow--minicart-footer {
  box-shadow: none;
  position: absolute;
  bottom: 0;
  .stretchChildrenWidth {
    position: static;
    bottom: 0;
  }
}
