.container--empty-state-1 {
  max-width: 220px;
}
.paragraph--empty-state-1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #40464d;
}

.container--empty-state-2 {
  max-width: 206px;
}

.paragraph--empty-state-2 {
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  color: #40464d;
}
