.flexRowContent--shelf-title-container {
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1025px) {
  .flexRow--price-container .flexRowContent--price-container {
    max-height: 67px;
    margin: 0;
  }
  .flexRow--price-container .flexColChild--col-price-container {
    min-height: 18px;
    max-height: 20px;
    margin: 4px 0;
  }
  :global(.vtex-product-summary-2-x-containerNormal--main) {
    margin: 0;
  }
  :global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf-slider) {
    justify-content: center;
  }
  .flexRowContent--shelf-title-container {
    margin-top: 32px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  :global(.vtex-slider-layout-0-x-slide--shelf-slider-2) .flexColChild--col-price-container,
  :global(.vtex-slider-layout-0-x-slide--shelf-slider-3) .flexColChild--col-price-container,
  :global(.vtex-flex-layout-0-x-flexRowContent--search-result-product) .flexColChild--col-price-container {
    margin: 0 0 4px 0;
    height: 16px !important;
  }
}
