.element--main {
  max-height: 500px;
}

.element
:global(.vtex-wish-list-1-x-wishlistIconContainer)
:global(.vtex-button)
:global(.vtex-button__label) {
  padding: 12px !important;
}

:global(.vtex-slider-layout-0-x-slide--shelf-slider-2) .element
:global(.vtex-wish-list-1-x-wishlistIconContainer)
:global(.vtex-button)
:global(.vtex-button__label),
:global(.vtex-slider-layout-0-x-slide--shelf-slider-3) .element
:global(.vtex-wish-list-1-x-wishlistIconContainer)
:global(.vtex-button)
:global(.vtex-button__label),
:global(.vtex-flex-layout-0-x-flexRowContent--search-result-product) .element
:global(.vtex-wish-list-1-x-wishlistIconContainer)
:global(.vtex-button)
:global(.vtex-button__label) {
  padding: 12px 6px !important;
}

@media screen and (max-width: 1024px) {
  :global(.vtex-slider-layout-0-x-slide--shelf-slider-2) .element
:global(.vtex-wish-list-1-x-wishlistIconContainer)
:global(.vtex-button)
:global(.vtex-button__label),
  :global(.vtex-slider-layout-0-x-slide--shelf-slider-3) .element
:global(.vtex-wish-list-1-x-wishlistIconContainer)
:global(.vtex-button)
:global(.vtex-button__label),
  :global(.vtex-flex-layout-0-x-flexRowContent--search-result-product) .element
:global(.vtex-wish-list-1-x-wishlistIconContainer)
:global(.vtex-button)
:global(.vtex-button__label) {
    padding: 8px !important;
  }
}
