@import '../_variables.scss';
@import '../_media-queries.scss';

.flexRow--searchHeadInfo {
  background-color: white;
  :global(.vtex-store-components-3-x-container) {
    @include container-main;
  }
  .stretchChildrenWidth {
    width: 100%;
  }
}

.flexRow--searchLayout {
  background-color: white;
  padding: 16px 0;
  .flexRowContent {
    @include container-main;
  }
  .stretchChildrenWidth {
    justify-content: initial;
    margin: 0;
    padding: 0;
  }
}

.flexColChild--pageContent {
  .flexCol {
    padding: 0;
  }
}

.flexRowContent--container-seo {
  &:first-child {
    margin-top: 64px;
  }
}

.flexRow--container-seo {
  margin-top: -64px;
}

.flexRowContent--container-seo,
.flexRowContent--container-seo2,
.flexRowContent--container-seo3 {
  margin: 0 auto;
  max-width: 1310px;
  @include mobile {
    padding: 0 16px;
  }
}

.flexRowContent--container-seo3 {
  margin-bottom: 83px;
  @include mobile {
    margin-bottom: 44px;
  }
}

.flexRow--full-banner-search {
  max-width: 980px;
  margin: 0 auto 1.5rem;
  padding: 0;

  @media (min-width: 400px) and (max-width: 1025px) {
    margin: 0 0 1.5rem;
  }

  @include mobile {
    max-width: 100%;
    padding: 0 1rem;
  }

  .flexRowContent--full-banner-search {
    border-radius: 8px;
    overflow: hidden;
  }
}

.flexRow--title-container {
  max-width: 1310px;
  //margin: 20px auto;
  margin: 0 auto 10px;
  width: 100%;
  @include mobile {
    padding: 0 16px;
  }
}

.flexCol--snf-btnback {
  display: none;
  @include mobile {
    display: block;
  }
}

// .flexColChild--filterCol {
// }

.flexRowContent--searchHeadInfo .stretchChildrenWidth:last-child {
  margin-left: auto;
}

.flexRowContent--searchHeadInfo {
  //padding-left: 324px;
  //margin-left: 16px;
  margin-right: 16px;
  border-top: 1px solid #8e8e8e;
  border-bottom: 1px solid #8e8e8e;
  justify-content: center;
}

.flexColChild--productCountCol {
  display: flex;
  align-items: center;
}

.flexRowContent--searchControlsMobile {
  @include breakpoint('mobile') {
    display: flex;
    padding: 0;
    padding: 15px 0;
    justify-content: center;
    flex-direction: row-reverse;
    height: 96px;

    .stretchChildrenWidth {
      width: 50% !important;
      border: 1px solid #d8d8d8;
      border-right: none;
      height: 40px;
    }

    .stretchChildrenWidth:first-child {
      width: 0% !important;
      border: none;
    }
  }
}
// Notfound
.flexCol--notfound-containerMain {
  align-items: center;
  .flexColChild--notfound-containerMain {
    padding: 10px;
    max-width: 100%; // AURE
    // overflow: hidden; // AURE
    &:last-child {
      padding-bottom: 3rem;
    }
  }
}

// search-bar fino a tablet
@media screen and (max-width: 768px) {
  :global(.vtex-search-2-x-itemList--suggestion) {
    display: none;
  }
  :global(.vtex-search-2-x-biggy-autocomplete) {
    width: calc(100% - 20px);
    z-index: 5;
    border-radius: 19px;
    margin-top: -38px;
    //margin-top: 5px;
    padding-top: 40px;
  }
}
// search-bar desktop
@media screen and (min-width: 1024px) {
  :global(.vtex-search-2-x-biggy-autocomplete) {
    z-index: 3;
  }
}

// :global(.vtex-flex-layout-0-x-flexCol--categories-showcase-products) {
:global(.vtex-slider-layout-0-x-slideChildrenContainer--slider-categories-products) {
  :global(.vtex-store-link-0-x-label--categories-showcase-cta-products) {
    display: flex;
  }
  &:hover {
    :global(.vtex-store-link-0-x-label--categories-showcase-cta-products) {
      color: $pink-active;
    }
  }
}

:global(.vtex-slider-layout-0-x-slideChildrenContainer--slider-categories) {
  :global(.vtex-flex-layout-0-x-flexCol--categories-showcase-products) {
    :global(.vtex-store-link-0-x-link--categories-showcase-cta-products) {
      display: flex;
    }
    &:hover {
      :global(.vtex-store-link-0-x-label--categories-showcase-cta-products) {
        color: $pink-active;
      }
    }
  }
}
