@import '../_variables.scss';
@import '../_media-queries.scss';

.flexRow--searchHeadInfo {
  background-color: white;
  :global(.vtex-store-components-3-x-container) {
    @include container-main;
  }
  .stretchChildrenWidth {
    width: 100%;
  }
}

.flexRow--searchLayout {
  background-color: white;
  padding: 16px 0;
  .flexRowContent {
    @include container-main;
  }
  .stretchChildrenWidth {
    justify-content: initial;
    margin: 0;
    padding: 0;
  }
}
.flexColChild--pageContent {
  .flexCol {
    padding: 0;
  }
}

.flexRowContent--container-seo {
  @include container-main;

  padding-top: 6rem;
  margin-bottom: 4rem;
}

.flexRow--full-banner-search {
  max-width: 1376px;
  margin: 0 auto 1.5rem;
  padding: 0;

  @media (min-width: 400px) and (max-width: 1025px) {
    margin: 0 0 1.5rem;
  }

  @include mobile {
    max-width: 100%;
    padding: 0 1rem;
  }

  .flexRowContent--full-banner-search {
    border-radius: 8px;
    overflow: hidden;
  }
}

.flexCol--snf-btnback {
  display: none;
  @include mobile {
    display: block;
  }
}

// .flexColChild--filterCol {
// }

.flexRowContent--searchHeadInfo .stretchChildrenWidth:last-child {
  margin-left: auto;
}

.flexRowContent--searchHeadInfo {
  //padding-left: 324px;
  //margin-left: 16px;
  margin-right: 16px;
  border-top: 1px solid #8E8E8E;
  border-bottom: 1px solid #8E8E8E;
  justify-content: center;
}

.flexColChild--productCountCol {
  display: flex;
  align-items: center;
}

.flexRowContent--searchControlsMobile {
  @include breakpoint('mobile') {
    display: flex;
    //align-items: center;
    padding: 0;
    padding-top: 10px;
    justify-content: center;
    flex-direction: row-reverse;
    height: 78px;

    .stretchChildrenWidth {
      width: 50% !important;
      border: 1px solid #D8D8D8;
      border-right: none;
      height: 40px;
    }

    .stretchChildrenWidth:first-child {
      width: 0% !important;
      border: none;
    }
  }
}

// .flexRowContent--filterRow {
//   //transform: translateY(-84px);
// }
