.noticeListItem:last-child :global(.vtex-button) {
  background: #013b82;
  border-radius: 8px;
  justify-content: center;
  border: none;
  text-transform: capitalize;
}

.orderPaymentItem :global(.vtex-button) {
  background: #013b82;
  border-radius: 8px;
  /* justify-content: center; */
  border: none;
  text-transform: capitalize;
}

.noticesList .noticeListItem {
  color: #013b82;
}

.orderOptionsWrapper :global(.vtex-button) {
  background: #013b82;
  border-radius: 8px;
  /* justify-content: center; */
  border: none;
  text-transform: capitalize;
  color: white;
}

.cancelOrderButton {
  /* background-color: red; */
}

.cancelOrderButton :global(.vtex-button) {
  color: red;
  background: none !important;
  border: 1px solid red;
}
