.imageElement {
  &--home-section02-image,
  &--category-section02-image {
    border-radius: 16px;
    border: 2px solid transparent;
    margin-bottom: 10px;
    &:hover {
      overflow: hidden;
      border-radius: 16px;
      max-width: 212px;
      max-height: 262px;
      border: 2px solid #e30613;
      @media screen and (max-width: 768px) {
        max-width: unset;
      }
    }

    @media screen and (max-width: 768px) {
      margin: 0 4px;
    }
  }

  &--home-section-promotional-banner {
    width: 100%;
  }

  &--section07-promotional-banner {
    width: 100%;
  }

  &--mobile-home-section02-image {
    height: 48px;
    margin: auto 1rem;
  }
}
