.sliderLayoutContainer {
  .sliderArrows {
    &.sliderLeftArrow {
      &--home-services,
      &--home-blog {
        position: absolute;
        top: -3rem;
        right: 2rem;
        left: auto;
      }
    }

    &.sliderRightArrow {
      &--home-services,
      &--home-blog {
        position: absolute;
        top: -3rem;
      }
    }

    .caretIcon {
      &--home-services,
      &--home-blog {
        height: 16px;
        color: #4320a8;
      }
    }
  }
}

.slideChildrenContainer {
  &--home-blog {
    max-width: 12.5rem;
    width: 100%;
  }

  &--mobile-home-categories-showcase {
    height: 8.5rem;
    align-items: flex-start;
  }
}

.slide {
  &--mobile-home-categories-showcase {
    margin: 0;
  }
}
