.link {
  &--home-button-default {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #111;
    text-decoration: none;
    text-align: center;
    padding: 12px 30px;
    display: block;
    max-width: 232px;
    border-radius: 8px;
    margin: 32px auto 0;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    &:hover {
      border-color: #111;
    }

    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &--home-button-default-02 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #111;
    text-decoration: none;
    text-align: center;
    padding: 12px 30px;
    display: block;
    width: 295px;
    border-radius: 8px;
    margin: 24px auto 0;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: #111;
    }

    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &--home-categories-showcase-cta,
  &--categories-showcase-cta {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid transparent;
    border-radius: 16px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    line-height: 21px;
    color: #332c32;
    transition: border-color 0.3s ease, color 0.3s ease;
    margin-top: 20px;

    &:hover {
      color: #e30613;
      border-color: #ddd;
    }
  }

  &--mobile-home-categories-showcase-cta {
    margin-right: 1rem;
    text-decoration: none;
    font-size: 16px;
    color: #111;
    line-height: 24px;
    font-weight: 500;
  }
}
