@import '../_media-queries.scss';
@import '../_variables.scss';

.sliderLayoutContainer {
  .sliderArrows {
    &.sliderLeftArrow {
      &--home-services,
      &--home-blog,
      &--homeBottomSectionBrands,
      &--homeBottomSectionCategories {
        position: absolute;
        top: -68px;
        right: 2rem;
        left: auto;
      }
    }

    &.sliderRightArrow {
      &--home-services,
      &--home-blog,
      &--homeBottomSectionBrands,
      &--homeBottomSectionCategories {
        position: absolute;
        top: -68px;
      }
    }

    .caretIcon {
      &--home-services,
      &--home-blog,
      &--homeBottomSectionBrands,
      &--homeBottomSectionCategories {
        height: 16px;
        color: $blue-dark;
      }
    }
  }
  :global(.vtex-product-summary-2-x-container--summaryComplete) {
    height: 360px;
  }
}

.sliderLayoutContainer--mobile-home-categories-showcase-slider {
  transform: translateY(-12px);
}

.slideChildrenContainer {
  &--home-blog {
    max-width: 12.5rem;
    width: 100%;
  }

  &--mobile-home-categories-showcase {
    height: 8.5rem;
    align-items: flex-start;
  }
  &--shelf-also-view {
    :global(.vtex-product-summary-2-x-container--summaryComplete) {
      @include breakpoint('mobile') {
        min-width: 210px;
      }
      @media (max-width: 330px) {
        min-width: 190px;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        min-width: 190px;
      }
    }
  }
}

.slide {
  &--mobile-home-categories-showcase {
    margin: 0;
  }

  &--shelf-also-view--visible {
    box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }

  &--home-services {
    @include breakpoint('mobile') {
      margin: 0 0.625rem !important;
      min-width: 224px;
    }
  }

  // &--slider-categories {
  //   @include breakpoint('mobile') {

  //   }
  // }

  // &--home-blog--visible {
  //   @include breakpoint('mobile') {
  //     margin-inline: 10px !important;
  //     transform: translateX(34px);
  //   }
  // }

  //   &--homeBottomSectionBrandsMobile {
  //     @include breakpoint('mobile') {
  //       margin: 0 0.625rem !important;
  //     }
  //   }

  //   &--homeBottomSectionCategoriesMobile {
  //     @include breakpoint('mobile') {
  //       margin: 0 2rem !important;
  //     }
  //   }
}

.sliderTrack {
  &--slider-categories {
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      justify-content: normal;
    }
  }

  // &--home-services {
  //   @include breakpoint('mobile') {
  //     transform: translate3d(-8.8125%, 0, 0) !important;
  //   }
  // }

  // &--homeBottomSectionBrandsMobile {
  //   @include breakpoint('mobile') {
  //     transform: translate3d(-18.75%, 0, 0) !important;
  //   }
  // }

  // &--homeBottomSectionCategoriesMobile {
  //   @include breakpoint('mobile') {
  //     transform: translate3d(-8.6%, 0, 0) !important;
  //   }
  // }

  &--mobile-home-categories-showcase-slider {
    height: 170px;
  }

  :global(.vtex-slider-layout-0-x-slide--slider-categories--visible) {
    max-width: 140px;
  }
}
