@import '../_media-queries.scss';

.flexRow {
  &--home-page-main-slider {
    :global(.vtex-store-components-3-x-container) {
      padding: 0;
      width: 100%;
      margin: 0 auto;
      max-width: 1440px;
    }

    @media screen and (max-width: 64rem) {
      height: 454px;
    }
  }

  &--home-section02 {
    @include container-main;
  }

  &--home-section06 {
    @include container-main;
  }

  &--home-section07-promotional-banner {
    margin-top: 90px;
  }

  &--category-section02-showcase {
    :global(.vtex-store-components-3-x-container) {
      @include container-main;
    }
  }

  &--home-section02-showcase,
  &--category-section02-showcase {
    @media screen and (max-width: 768px) {
      max-width: 100%;
      overflow: scroll;
      padding-bottom: 12px;
    }
  }

  &--mobile-home-section02-showcase {
    padding-bottom: 0.5rem;
    overflow: scroll;
  }

  &--mobile-home-section02 {
    border: 2px solid #f2f2f2;
    border-radius: 0.5rem;
  }

  .flexRowContent {
    &--home-section02-showcase,
    &--mobile-home-section02-showcase,
    &--category-section02-showcase {
      padding: 0 1rem;
      justify-content: space-between;
      @media screen and (max-width: 768px) {
        display: flex;
        flex-wrap: nowrap;
        width: max-content;
      }
    }

    &--mobile-home-section02 {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      overflow: scroll;
      height: 4rem;
    }
  }
}

.flexCol {
  &--mobile-home-section02-showcase {
    margin-right: 0.5rem;
    position: relative;
  }

  .flexColChild {
    &--home-section01-second-col {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }

  &--home-section02-showcase,
  &--category-section02-showcase {
    width: 216px;
    height: 266px;
    padding: 44px;
    position: relative;
  }
}
