@import '../_media-queries.scss';
@import '../_variables.scss';

.sliderLayoutContainer {
  .sliderArrows {
    &.sliderLeftArrow {
      &--home-services,
      &--home-blog {
        position: absolute;
        top: -3rem;
        right: 2rem;
        left: auto;
      }
    }

    &.sliderRightArrow {
      &--home-services,
      &--home-blog {
        position: absolute;
        top: -3rem;
      }
    }

    .caretIcon {
      &--home-services,
      &--home-blog {
        height: 16px;
        color: #4320a8;
      }
    }
  }
}

.slideChildrenContainer {
  &--home-blog {
    max-width: 12.5rem;
    width: 100%;
  }

  &--mobile-home-categories-showcase {
    height: 8.5rem;
    align-items: flex-start;
  }
}

.slide {
  &--mobile-home-categories-showcase {
    margin: 0;
  }

  &--home-services {
    @include breakpoint('mobile') {
      margin: 0 0.625rem !important;
      width: 240px !important;
    }
  }
}

.sliderTrack {
  &--home-services {
    @include breakpoint('mobile') {
      transform: translate3d(-8.8125%, 0, 0) !important;
    }
  }
}
