.container {
  &--home-section01-video {
    border-radius: 16px;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      margin: 0 8px;
    }
  }
}

.videoElement--home-section01-video {
  width: 540px;
  height: 340px;
}
