@import '../_variables.scss';
@import '../_media-queries.scss';

.product-identifier--productReference {
  font-size: 14px;
  display: block;
  color: $darkgrey-medium;
  line-height: 1rem;
  margin-bottom: 0.5rem;

  &::before {
    content: "Ref.";
  }

  @include mobile{
    margin-bottom: 1rem;
    text-align: center;
  }
}

