@import '../_variables.scss';
@import '../_media-queries.scss';

.outline {
    background: url(https://bricobravo.vteximg.com.br/arquivos/heartIcon.svg);
    background-size: contain;
    height: 34px;
    width: 34px;    
    &:hover{
        background-image: url(https://bricobravo.vteximg.com.br/arquivos/heartIconSolid.svg);
        background-repeat: no-repeat; 
        padding-right: 0;  
    }
}


.wishlistIconContainer{
    
    :global(.vtex-button) {
        background: none !important;
        border: none !important;
    
        &:hover {
          background: none !important;
          border: none !important;
        }
        
    }
    :global(.vtex-button__label){
        padding: 0;
    }

}
