@import '../_variables.scss';
@import '../_media-queries.scss';

.paragraph--shippingMenuText {
  background-color: $white;
  color: black !important;
}

.paragraph--pdp-galeryTitle {
  background-color: transparent !important;
  color: $primary-dark;
  font-size: 30px;
  font-weight: 300;
  white-space: nowrap;
}
