.flexRowContent--wish-product-page-button {
  :global(.vtex-button) {
    border: none;
    border-radius: 0 0 4px;
    background-color: #f58220;
  }
  :global(.vtex-button__label) {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    @media screen and (max-width: 1024) {
      font-size: 12px;
    }
  }
}

.flexRowContent--rating :first-child {
  :first-child {
    justify-content: center;
  }
}
