.installmentsNumber,
.installmentValue {
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
  color: #40464d;
  @media screen and (max-width: 1024px) {
    font-size: 12px;
  }
}
.sellingPrice--pdp-selling-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  color: #f58220;
  @media screen and (max-width: 1024px) {
    font-size: 14px;
  }
  &::before {
    font-size: 16px;
    content: 'Por: ';
    color: #40464d;
    font-weight: normal;
    margin-right: 5px;
    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }
  }
}

.listPriceValue {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  color: #40464d;
  @media screen and (max-width: 1024px) {
    font-size: 12px;
  }
}

.sellingPrice--unit-multiplier-selling-price {
  display: none;
}

.sellingPrice--unit-multiplier-selling-price--hasUnitMultiplier {
  display: flex;
  .currencyContainer {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25rem;

    text-align: center;
    color: #f58220;

    @media screen and (max-width: 1024px) {
      font-size: 0.875rem;
    }
  }

  &::before {
    color: #40464d;
    content: 'Valor da caixa: ';
    margin-right: 0.5rem;
    @media screen and (max-width: 1024px) {
      font-size: 0.75rem;
    }
  }
}
:global(.vtex-seller-selector-0-x-sellerMasterContainer) {
  .listPriceValue {
    .currencyContainer {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.25rem;
      text-align: center;
      color: #40464d;
      @media screen and (max-width: 1024px) {
        font-size: 14px !important;
      }
    }
    &::before {
      content: 'De: ';
      font-weight: normal;
      font-size: 14px;
      margin-right: 0.5rem;
      @media screen and (max-width: 1024px) {
        font-size: 0.75rem;
      }
    }
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--product-price-container) {
    @media screen and (max-width: 1024px) {
      display: flex;
    }
  }
}

.installments {
  font-size: 16px;
  @media screen and (max-width: 1024px) {
    font-size: 10px;
    letter-spacing: -0.6px;
  }
  .currencyContainer {
    font-size: 16px;
    @media screen and (max-width: 1024px) {
      font-size: 12px;
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-main) {
  .installments {
    @media screen and (max-width: 1024px) {
      font-size: 12px;
      letter-spacing: normal;
    }
  }
}
@media screen and(min-width: 1025px) {
  .installmentValue::before {
    content: ' de ';
    font-weight: normal;
    font-size: 16px;
    color: #40464d;
  }
}

.sellingPriceValue--price-autocomplete::after {
  content: '';
}
.currencyContainer--price-autocomplete {
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 19px !important;
  color: #f58220;
}
.sellingPrice--price-autocomplete {
  padding: 1rem;
}

:global(.vtex-search-result-3-x-gallery--grid) {
  @media screen and (min-width: 1025px) {
    .installments,
    .installmentValue::before {
      font-size: 12px;
    }
    .installmentsNumber,
    .installmentValue,
    .currencyContainer {
      font-size: 14px;
    }
  }
}

.sellingPrice--shelf-product-price {
  color: #40464d;
  font-weight: 400;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
  .sellingPriceWithUnitMultiplier--shelf-product-price {
    color: #f58220;
    font-size: 20px;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}
