.paragraph--meter-calculator {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #f58220;
}

.paragraph--meter-calculator::before {
  content: url(https://balarotiio.vteximg.com.br/arquivos/calcultaor-icon.svg);
  margin-bottom: 1rem;
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .paragraph--meter-calculator::before {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 640px) {
  .paragraph--meter-calculator::before {
    margin-bottom: 0.5rem;
    font-size: 24px;
  }
}

@media screen and (max-width: 640px) {
  .paragraph--meter-calculator {
    margin: 0 0 0.5rem 0;
    font-size: 24px;
  }
}

.paragraph--additionalLossText {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #40464d;
}

.paragraph--meter-calculator-tip {
  margin: 0 0 1.25rem 0;
  font-size: 14px;
  line-height: 19px;
  color: #40464d;
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .paragraph--meter-calculator-tip {
    margin: 0 0 1rem 0;
  }
}

@media screen and (max-width: 640px) {
  .paragraph--meter-calculator-tip {
    font-size: 12px;
  }
}

.paragraph--meter-calculator-alert {
  margin: 2rem 0 1.25rem 0;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .paragraph--meter-calculator-alert {
    margin: 1rem 0;
  }
}
