.paper--meter-calculator {
  width: 100%;
  max-width: 635px;
}

.headerContainer--meter-calculator {
  border: none;
}

.closeIcon--meter-calculator {
  color: #f58220;
  width: 35px;
  height: 35px;
}
