.imageElement--category {
  @media screen and (max-width: 768px) {
    max-width: 2rem;
  }
}

.imageElement--banner-1 {
  border-radius: 8px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  @media screen and (min-width: 1025px) {
    height: 100%;
  }
  &:hover {
    border-radius: 8px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    max-height: 470px;
  }
}

.imageElement--best-brands {
  max-width: 170px !important;
  max-height: 50px !important;
}

@media screen and (min-width: 1025px) {
  .container {
    max-width: 1216px;
  }
}

:global(.vtex-flex-layout-0-x-flexRow--timer-desktop) {
  .container {
    max-width: 100% !important;
  }
}
