.testimonialPageTitle {
  display: none;
}

.carouselStatusDotActive {
  color: #f58220;
}

.carouselBox {
  background-color: #fff !important;
  padding: 15px 0;
}

.carouselStatusDotActive,
.carouselStatusDotInactive {
  width: 20px !important;
}

.carouselSliderText {
  display: flex;
  align-items: center;
  justify-content: center;
}
