.openIconContainer--filter_drawer {
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .childrenContainer--filter_drawer {
    padding: 0 1rem;
  }
}

.opened--filter_drawer {
  width: 100% !important;
}

.closeIcon--filter_drawer {
  color: #f58220;
}
