.sliderTrack--search-category {
  gap: 3.5rem;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .sliderTrack--search-category {
    gap: 0;
  }
}

@media screen and (max-width: 1024px) {
  .sliderArrows--slider-search-banners {
    width: 24px;
    height: 24px;
    margin: 0 0.5rem;
  }
}
