.bannerTimer {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
}

.bannerTimerMarkerHours,
.bannerTimerMarkerMinutes,
.bannerTimerMarkerSeconds {
  position: relative;
}

.bannerTimerMarkerHours::before {
  content: 'horas';
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: -5px;
  left: 10px;
}

.bannerTimerMarkerHours::after {
  content: ':';
  margin: 0 15px;
}

.bannerTimerMarkerMinutes::before {
  content: 'minutos';
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: -5px;
  left: 5px;
}

.bannerTimerMarkerMinutes::after {
  content: ':';
  margin: 0 15px;
}

.bannerTimerMarkerSeconds::before {
  content: 'segundos';
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: -5px;
}
